<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ConfigController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="config-platform">

        <div >

            <ul>
                <li ng-repeat="tab in vm.tabItem">
                    <a href ng-click="vm.sel(tab.id)" ng-class="{'tab-active':tab.active}">{{tab.title}}</a>
                </li>

            </ul>


            <div class="tab-container">

                <div class="plat-mgr" ng-show="vm.tabItem[0].active">
                    <!--<ul>
                        <li ng-repeat="item in vm.platMgr">
                            {{item.person}},{{item.email}},{{item.mobile}},

                        </li>
                    </ul>-->

                    <div class="div-line div-label">平台客户经理</div>

                    <div  class="div-zone">

                        <div class="div-line"  ng-repeat="item in vm.platMgr">

                            <div class="div-inline div-padding">姓名</div>
                            <div class="div-inline div-padding">
                                <input type="text"  class="div-input-w"
                                       placeholder="姓名" ng-model="item.person" ng-disabled="!vm.isEdit"  required>
                            </div>

                           <!-- <div class="div-inline div-padding">电话</div>
                            <div class="div-inline div-padding">
                                <input type="text" class="div-input-w"
                                       placeholder="电话" ng-model="item.mobile" ng-disabled="!vm.isEdit"  required>
                            </div>-->


                            <div class="div-inline div-padding">邮箱</div>
                            <div class="div-inline div-padding">
                                <input type="text" class="div-input-w"
                                       placeholder="邮箱" ng-model="item.email" ng-disabled="!vm.isEdit"  required>
                            </div>

                            <div ng-if="vm.isEdit" class="div-inline ">
                                <button ng-if="!vm.isDetail" ng-click="vm.removeClientManager(item)" class="btn btn-sm btn-addon"><i class="glyphicon glyphicon-minus"></i>{{'product.DELETE' | translate}}</button>

                            </div>

                        </div>




                    </div>

                    <div ng-if="vm.isEdit" class="div-zone">
                        <div  class="div-inline div-padding">
                        <button ng-if="!vm.isDetail" ng-click="vm.addNewClientManager()" class="btn btn-info btn-sm btn-addon"><i class="glyphicon glyphicon-plus"></i>{{'u.ADD' | translate}}</button>
                        </div>
                    </div>

                    <div class="div-zone ">
                        <div  class="div-inline div-padding">

                            <button ng-disabled="!vm.isEdit" class="btn btn-sm btn-addon" ng-click="vm.cancelOper(11)"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                            <button class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.editOper(11)" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{vm.editTitle}}</button>
                        </div>
                    </div>
                </div>





                <div class="plat-mgr" ng-show="vm.tabItem[1].active">
                    <!--<ul>
                        <li ng-repeat="item in vm.platMgr">
                            {{item.person}},{{item.email}},{{item.mobile}},

                        </li>
                    </ul>-->

                    <div class="div-line div-label">积分基础设置</div>
                    <div  class="div-zone">

                        <div class="div-line">


                            <div class="div-inline div-padding">积分兑换比率</div>
                            <div class="div-inline div-padding">
                                <input type="text"  class="div-input"
                                       placeholder="积分兑换比率" ng-model="vm.pointBasic.exchangeRate" ng-disabled="!vm.isEditPointBasic"  required>
                            </div>

                            <div class="div-inline div-padding">积分使用比率</div>
                            <div class="div-inline div-padding">
                                <input type="text" class="div-input"
                                       placeholder="积分使用比率" ng-model="vm.pointBasic.exchangePercent" ng-disabled="!vm.isEditPointBasic"  required>
                            </div>


                            <div class="div-inline div-padding div-spec">说明：积分兑换比率指多少积分可以抵一元，比如10就代表10积分可以抵换1元；积分使用比率指积分可以占订单总价的比例，比如比率为50，则使用积分最高可抵订单总价的50%。</div>

                        </div>


                    </div>

                    <div class="div-zone ">
                        <div  class="div-inline div-padding">

                            <button ng-disabled="!vm.isEditPointBasic" class="btn btn-sm btn-addon" ng-click="vm.cancelOper(12)"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                            <button class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.editOper(12)" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{vm.editTitlePointBasic}}</button>
                        </div>
                    </div>






                    <div class="div-line div-label">积分规则</div>
                    <div  class="div-zone">

                        <div class="div-line" ng-repeat="item in vm.pointRule" ng-if="$index%3 == 0">


                            <div class="div-width-3">
                                <div class="div-inline div-padding div-width-7" >{{vm.ruleTitle[vm.pointRule[$index].name]}}</div>
                                <div class="div-inline div-padding div-width-2">
                                    <input type="text"  class="div-input"
                                           placeholder="{{vm.ruleTitle[vm.pointRule[$index].name]}}" ng-model="vm.pointRule[$index].value" ng-disabled="!vm.isEditPointRule"  required>
                                </div>
                            </div>
                            <div class="div-width-3">
                                <div class="div-inline div-padding div-width-7" >{{vm.ruleTitle[vm.pointRule[$index+1].name]}}</div>
                                <div class="div-inline div-padding div-width-2">
                                    <input type="text"  class="div-input"
                                           placeholder="{{vm.ruleTitle[vm.pointRule[$index+1].name]}}" ng-model="vm.pointRule[$index+1].value" ng-disabled="!vm.isEditPointRule"  required>
                                </div>
                            </div>

                            <div class="div-width-3">
                                <div class="div-inline div-padding div-width-7" >{{vm.ruleTitle[vm.pointRule[$index+2].name]}}</div>
                                <div class="div-inline div-padding div-width-2">
                                    <input type="text"  class="div-input"
                                           placeholder="{{vm.ruleTitle[vm.pointRule[$index+2].name]}}" ng-model="vm.pointRule[$index+2].value" ng-disabled="!vm.isEditPointRule"  required>
                                </div>
                            </div>

                        </div>




                       <!-- <div class="div-line">

                            <div class="div-inline div-padding">连续签到1天获得积分数</div>
                            <div class="div-inline div-padding">
                                <input type="text"  class="div-input"
                                       placeholder="连续签到1天获得积分数" ng-model="vm.pointRule.daily_signin_1" ng-disabled="!vm.isEditPointRule"  required>
                            </div>

                            <div class="div-inline div-padding">连续签到1天获得积分数</div>
                            <div class="div-inline div-padding">
                                <input type="text" class="div-input"
                                       placeholder="连续签到5天获得积分数" ng-model="vm.pointRule.daily_signin_5" ng-disabled="!vm.isEditPointRule"  required>
                            </div>

                        </div>-->


                    </div>

                    <div class="div-zone ">
                        <div  class="div-inline div-padding">

                            <button ng-disabled="!vm.isEditPointRule" class="btn btn-sm btn-addon" ng-click="vm.cancelOper(13)"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                            <button class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.editOper(13)" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{vm.editTitlePointRule}}</button>
                        </div>
                    </div>




                </div>


                <div class="plat-mgr" ng-show="vm.tabItem[2].active">
                    <!--<ul>
                        <li ng-repeat="item in vm.platMgr">
                            {{item.person}},{{item.email}},{{item.mobile}},

                        </li>
                    </ul>-->

                    <div class="div-line div-label">飞的设置</div>

                    <div  class="div-zone">



                            <div class="div-inline div-padding">飞行航速（公里／分钟）</div>
                            <div class="div-inline div-padding">
                                <input type="number"  class="div-input-w"
                                       placeholder="飞行航速" ng-model="vm.QFRule.speed" ng-disabled="!vm.isEditQFRule"  required>
                            </div>
                            <div  class="line line-dashed b-b line-lg"></div>
                            <!-- <div class="div-inline div-padding">电话</div>
                             <div class="div-inline div-padding">
                                 <input type="text" class="div-input-w"
                                        placeholder="电话" ng-model="item.mobile" ng-disabled="!vm.isEdit"  required>
                             </div>-->


                            <div class="div-inline div-padding">飞行单价（元／分钟)</div>
                            <div class="div-inline div-padding">
                                <input type="number" class="div-input-w"
                                       placeholder="飞行单价" ng-model="vm.QFRule.unitTimePrice" ng-disabled="!vm.isEditQFRule"  required>
                            </div>
                            <div  class="line line-dashed b-b line-lg"></div>
                            <div class="div-inline div-padding">预约期限（提前几天）</div>
                        <div class="div-inline div-padding">
                            <input type="number" class="div-input-w"
                                   placeholder="提前几天预约" ng-model="vm.QFRule.departureTimeInAdvance" ng-disabled="!vm.isEditQFRule"  required>
                        </div>






                    </div>


                    <div class="div-zone ">
                        <div  class="div-inline div-padding">

                            <button ng-disabled="!vm.isEditQFRule" class="btn btn-sm btn-addon" ng-click="vm.cancelOper(14)"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                            <button class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.editOper(14)" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{vm.editQuickFlightRule}}</button>
                        </div>
                    </div>
                </div>






            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'app/components/core/modal.html'"></div>
</script>