<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AirtaxiController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!-- div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">租户信息</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
            </div>
        </div> -->

        <!-- tasks -->

        <div class="m-l m-r m-t panel panel-default">
        <table  st-table="vm.displayedCollection" st-safe-src="vm.items" class="table table-bordered table-striped table-hover bg-white text-center">
            <thead>
            <tr>
                <th colspan="7">
                    <button ng-click="vm.goAddItem()" class="btn btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>{{ 'u.ADD' | T }}</button>
                    <input st-search="" class="form-control pull-right m-b-xs w-md" placeholder="{{'u.SEARCH' | T}}" type="text"/>
                </th>
            </tr>
            <tr class="font-bold">
               <!-- <th class="text-center">{{'login.USERNAME' | T}}</th>-->
                <th class="text-center">{{'u.NAME' | T}}</th>
                <th ng-if="vm.isAdmin" class="text-center">商户</th>
                <th class="text-center">审批状态</th>
                <th class="text-center">{{'u.DEPARTURE' | T}}</th>
                <th class="text-center">{{'u.ARRIVAL' | T}}</th>
                <th class="text-center">{{'u.DESCRIPTION' | T}}</th>

            </tr>

            </thead>
            <tbody class="">

            <tr ng-repeat="item in vm.displayedCollection">
              <!--  <td ng-click="vm.goDetail(item)">{{item.id}}</td>-->
                <td ng-click="vm.goDetail(item)">{{item.name}}</td>
                <td ng-if="vm.isAdmin" ng-click="vm.goDetail(item)">{{item.vendor.name}}</td>
                <td ng-click="vm.goDetail(item)"> <select style="width: 100%;" class="form-control font-thin" ng-model="item.reviewStatus" ng-options="s.value as s.title for s in vm.approveStatus" ng-disabled=true ></select>


                <td ng-click="vm.goDetail(item)">{{item.flightRoute.departure}}</td>
                <td ng-click="vm.goDetail(item)">{{item.flightRoute.arrival}}</td>
                <td ng-click="vm.goDetail(item)">{{item.description}}</td>


               <!-- <td ng-click="vm.goDetail(item)">
                    {{item.enabled ? ('u.ACTIVITY'|T ):('u.UNACTIVITY'|T)}}
                </td>-->
                <td>

                    <button class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.goDetail(item)"><i class="fa fa-eye"></i>{{'u.DETAIL'|T}}</button>
                    <button class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.goComment(item)"><i class="fa fa-commenting-o"></i>评论</button>

                    <button class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.goEditItem(item)"><i class="fa fa-edit"></i>{{ 'u.EDIT' | T}}</button>
<!--
                    <button class="btn btn-sm btn-danger btn-addon" style="width: 80px"  ng-click="vm.openAlert('sm',item)"><i class="fa fa-trash-o"></i>{{'u.DELETE' | T}}</button>
-->
                    <div class="btn-group " ng-if="vm.isAdmin">
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-sliders"></i>  操作</button>
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" style="overflow:visible; z-index:1010;width:100px;position:absolute;">
                            <li ng-class="{disabled: !item.isAgreeEnable}" ng-click="vm.OperApp(3, item)" ><a><i class="fa fa-play m-r-sm"></i>同意</a></li>
                            <li ng-class="{disabled: !item.isRejectEnable}" ng-click="vm.OperApp(4, item)" ><a><i class="fa fa-stop m-r-sm"></i>拒绝</a></li>

                        </ul>
                    </div>


                    <div class="btn-group " ng-if="!vm.isAdmin">
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-sliders"></i>  操作</button>
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>

                        <ul class="dropdown-menu" style="overflow:visible; z-index:1010;width:100px;position:absolute;">
                            <li ng-class="{disabled: !item.isPublish}" ng-click="vm.OperApp(11, item)" ><a><i class="fa fa-arrow-up m-r-sm"></i>上线</a></li>
                            <li ng-class="{disabled: !item.isUnPublish}" ng-click="vm.OperApp(12, item)" ><a><i class="fa fa-arrow-down m-r-sm"></i>下线</a></li>
                            <li  ng-click="vm.openAlert('sm',item)" ><a><i class="fa fa-trash-o m-r-sm"></i> {{'u.DELETE' | T}}</a></li>


                        </ul>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
        </div>

        <div class="btn-group pagination pull-right padder-lg">
            <button type="button" class="btn btn-default" ng-click="vm.preAction()" ng-disabled= !vm.pagePreEnabled>Previous</button>
            <button type="button" class="btn btn-default" ng-repeat="page in vm.pages" ng-click="vm.goPage(page)" ng-disabled= vm.pageCurrentState(page)>{{page}}</button>
            <button type="button" class="btn btn-default" ng-click="vm.nextAction()" ng-disabled= !vm.pageNextEnabled>Next</button>
        </div>

        <!-- / tasks -->
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'app/components/core/modal.html'"></div>
</script>