<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " ng-controller="DashCtrl as vm">
    <!-- main -->
    <div class="col">

        <div class="m-l m-r m-t" style="overflow:hidden;">
            <!-- stats -->
            <div class="col-md-12" style="padding:0;" >

                    <div ng-if="vm.isAdmin" class="col-md-6 col-sm-12" ng-style="vm.myPaddingStyle" >
                        <div class="panel panel-default" style="overflow: hidden;">
                            <div class="panel-body col-sm-12">
                                <span class="h3 font-bold">用户统计</span>
                            </div>
                            <div class="panel-body text-center col-sm-12" style="height: 370px;" >
                                <div class="col-md-4 col-xs-4 padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <div class="h1 text-info m-b" style="color: #279BF6;">{{vm.accountInfo.totalCount}}</div>
                                    <span class="h4 font-bold">账户总数</span>
                                </div>

                                <div class="col-md-4 col-xs-4 block padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h1 block m-b" style="color: #65C96C;">{{vm.accountInfo.tenantCount}}</span>
                                    <span class="h4 font-bold">商户数</span>
                                </div>
                                <div class="col-md-4 col-xs-4 padder-v item">
                                    <div class="h1 block m-b" style="color: #AF59D5;">{{vm.accountInfo.userCount}}</div>
                                    <span class="h4 font-bold">用户数</span>
                                </div>


                                <div class="col-md-4 col-xs-4 block padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h1 block m-b" style="color: #F94380;">{{vm.accountInfo.adminCount}}</span>
                                    <span class="h4 font-bold">管理员个数</span>
                                </div>

                                <div class="col-md-4 col-xs-4 padder-v item">
                                    <div class="h1 block m-b" style="color: #AF59D5;">{{vm.accountInfo.userCountThisMonth}}</div>
                                    <span class="h4 font-bold">本月新增用户</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.isAdmin" class="col-md-6 col-sm-12" style="padding: 0">
                        <div class="panel panel-default" style="overflow: hidden;">
                            <div class="panel-body">
                                <span class="h3 font-bold">产品统计</span>
                            </div>
                            <div class="panel-body">
                                <div style="height: 340px;"  e-chart e-data="vm.productOption"></div>
                            </div>
                        </div>
                    </div>

                <div ng-if="!vm.isAdmin"  class="col-md-12 col-sm-12" style="padding: 0">
                    <div class="panel panel-default" style="overflow: hidden;">
                        <div class="panel-body">
                            <span class="h3 font-bold">产品统计</span>
                        </div>
                        <div class="panel-body">
                            <div style="height: 340px;"  e-chart e-data="vm.productOption"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12" style="padding:0;">



                <div class="col-md-6 col-sm-12 text-center" ng-style="vm.myPaddingStyle">
                    <div class="panel panel-default">
                        <div class="panel-body text-left">
                            <span class="h3 font-bold">订单统计</span>
                        </div>
                        <div class="panel-body">
                            <div style="height: 340px;"  e-chart e-data="vm.orderOption"></div>
                        </div>
                    </div>
                </div>




                <div class="col-md-6 col-sm-12 text-center" ng-style="vm.myPaddingStyle">
                    <div class="panel panel-default">
                        <div class="panel-body text-left">
                            <span class="h3 font-bold">交易统计</span>
                        </div>
                        <div class="panel-body">
                            <div style="height: 340px;"  e-chart e-data="vm.tradeOption"></div>
                        </div>
                    </div>
                </div>



                <!--

                <div class="col-md-6 col-sm-12" style="padding:0;">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-body">
                            <span class="h3 font-bold">交易统计</span>
                        </div>
                        <div class="panel-body">
                            <div class="panel-body text-center col-sm-12" >
                                <div class="col-md-2 col-xs-2 padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <div class="h1 text-info m-b" style="color: #279BF6;">{{vm.tradeInfo.revenueYearly}}</div>
                                    <span class="h4 font-bold">本年度收入</span>
                                </div>

                                <div class="col-md-2 col-xs-2 block padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h1 block m-b" style="color: #65C96C;">{{vm.tradeInfo.revenueQuarterly}}</span>
                                    <span class="h4 font-bold">本季度收入</span>
                                </div>
                                <div class="col-md-2 col-xs-2 padder-v item">
                                    <div class="h1 block m-b" style="color: #AF59D5;">{{vm.tradeInfo.revenueMonthly}}</div>
                                    <span class="h4 font-bold">本月收入</span>
                                </div>


                                <div class="col-md-2 col-xs-2 block padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h1 block m-b" style="color: #F94380;">{{vm.tradeInfo.expenseYearly}}</span>
                                    <span class="h4 font-bold">本年度支出</span>
                                </div>

                                <div class="col-md-2 col-xs-2 padder-v item">
                                    <div class="h1 block m-b" style="color: #AF59D5;">{{vm.tradeInfo.expenseQuarterly}}</div>
                                    <span class="h4 font-bold">本季度支出</span>
                                </div>
                                <div class="col-md-2 col-xs-2 padder-v item">
                                    <div class="h1 block m-b" style="color: #AF59D5;">{{vm.tradeInfo.expenseMonthly}}</div>
                                    <span class="h4 font-bold">本月支出</span>
                                </div>
                            </div>


                            <div class="panel-body col-sm-12" style="">
                                <div class="col-md-4 col-sm-12 padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h4 font-bold">微信支付</span>
                                    <br><br>
                                    <h5>
                                        <div class="block m-b" style="color: #279BF6;">本年度收入 {{vm.tradeInfo.details.wechat.revenueYearly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本季度收入 {{vm.tradeInfo.details.wechat.revenueQuarterly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本月收入 {{vm.tradeInfo.details.wechat.revenueMonthly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本年度支出 {{vm.tradeInfo.details.wechat.expenseYearly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本季度支出 {{vm.tradeInfo.details.wechat.expenseQuarterly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本月支出 {{vm.tradeInfo.details.wechat.expenseMonthly}}</div>
                                    </h5>
                                </div>

                                <div class="col-md-4 col-sm-12 padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h4 font-bold">新生支付</span>
                                    <br><br>
                                    <h5>
                                        <div class="block m-b" style="color: #279BF6;">本年度收入 {{vm.tradeInfo.details.newpay.revenueYearly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本季度收入 {{vm.tradeInfo.details.newpay.revenueQuarterly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本月收入 {{vm.tradeInfo.details.newpay.revenueMonthly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本年度支出 {{vm.tradeInfo.details.newpay.expenseYearly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本季度支出 {{vm.tradeInfo.details.newpay.expenseQuarterly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本月支出 {{vm.tradeInfo.details.newpay.expenseMonthly}}</div>
                                    </h5>
                                </div>


                                <div class="col-md-4 col-sm-12 padder-v item" style="border-right: 2px solid #EAE9EF;">
                                    <span class="h4 font-bold">支付宝</span>
                                    <br><br>
                                    <h5>
                                        <div class="block m-b" style="color: #279BF6;">本年度收入 {{vm.tradeInfo.details.alipay.revenueYearly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本季度收入 {{vm.tradeInfo.details.alipay.revenueQuarterly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本月收入 {{vm.tradeInfo.details.alipay.revenueMonthly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本年度支出 {{vm.tradeInfo.details.alipay.expenseYearly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本季度支出 {{vm.tradeInfo.details.alipay.expenseQuarterly}}</div>
                                        <div class="block m-b" style="color: #279BF6;">本月支出 {{vm.tradeInfo.details.alipay.expenseMonthly}}</div>
                                    </h5>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                -->









            </div>

        </div>

    </div>
</div>
