<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AirjetFlightEditController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{vm.title}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
               
            </div>
        </div> -->

        <!-- tasks -->



        <div class="panel panel-default m-l m-r m-t">

            <div class="panel-heading">
                <h3 class="panel-title">{{'product.INFORMATION' | translate}}</h3>
            </div>
            <br/>
            <form name="form" class="form-horizontal form-validation" role="form">






                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.FLEETNAME' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.FLEETNAME' | translate}}" ng-model="vm.user.name" ng-disabled="vm.isDetail" ng-pattern="/^[a-zA-Z0-9_\\-]{2,20}$/" required>
                    </div>
                    <span ng-if="!vm.isDetail"><i style="color:red;font-size:20px;">* </i><i style="font-style:normal; color:#999;">{{'tenant.USERNAMETIP' | translate}}</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>





                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.FLEETNUNBER' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.FLEETNUNBER' | translate}}" ng-model="vm.user.flightNo" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>

                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.FLEETTYPE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.FLEETTYPE' | translate}}" ng-model="vm.user.aircraftType" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>






                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DEPARTURE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.DEPARTURE' | translate}}" ng-model="vm.user.departure" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>



                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ARRIVAL' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.ARRIVAL' | translate}}" ng-model="vm.user.arrival" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>


                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ALLPRICE' | translate}}</label>
                    <div class="col-sm-4">
                       <input class="form-control" type="text"
                               placeholder="{{'u.ALLPRICE' | translate}}" ng-model="vm.user.price" ng-disabled="vm.isDetail" >

<!--
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.role" ng-options="s.value as s.title for s in vm.userType" ng-disabled="vm.isDetail" ></select>
-->

                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>





                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.SEATPRICE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.SEATPRICE' | translate}}" ng-model="vm.user.seatPrice" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>


                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.PRICEUNIT' | translate}}</label>
                    <div class="col-sm-4">

                      <!--  <input class="form-control" type="text"
                               placeholder="{{'u.PRICEUNIT' | translate}}" ng-model="vm.user.currencyUnit" ng-disabled="vm.isDetail" >
-->

                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.currencyUnit" ng-options="s.value as s.title for s in vm.priceType" ng-disabled="vm.isDetail" ></select>


                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ALLSEATS' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.ALLSEATS' | translate}}" ng-model="vm.user.seats" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>



                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.MINPASSENGER' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.MINPASSENGER' | translate}}" ng-model="vm.user.minPassengers" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




               <!-- <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DATE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.DATE' | translate}}" ng-model="vm.user.date" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>-->




                <div class="form-group">
                    <label class="col-sm-1 m-l-lg font-bold control-label">{{'u.DATE' | translate}}</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control font-thin" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.opened"  ng-disabled="vm.isDetail"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                </div>










                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.TIMESLOT' | translate}}</label>

                    <div class="col-sm-2">
                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.TIMESLOTSTART' | translate}}" ng-model="vm.user.time.start" ng-disabled="vm.isDetail" >
-->

                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.time.start" ng-options="s for s in vm.selTime" ng-disabled="vm.isDetail" ></select>

                    </div>
                    <label class="font-bold" style="float:left;text-align:center; padding:0px 0px 0px 0px;">--</label>
                    <div class="col-sm-2">
                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.TIMESLOTEND' | translate}}" ng-model="vm.user.time.end" ng-disabled="vm.isDetail" >-->
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.time.end" ng-options="s for s in vm.selTime" ng-disabled="vm.isDetail" ></select>

                    </div>

                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>







                <!--<div class="form-group">
                    <label class="col-sm-2 control-label">Datepicker</label>
                    <div class="col-sm-10" ng-controller="AirjetFlightEditController">
                        <div class="input-group w-md">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                             <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
-->

                <!--<div class="form-group">
                    <label class="col-sm-1 m-l-lg font-bold control-label">{{'product.EXPDATE' | translate}}</label>
                    <div class="col-sm-5">
                        <p class="input-group">
                            <input type="text" class="form-control font-thin" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.opened" date-disabled="vm.disabled(date, mode)" ng-required="true"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                </div>-->








              <!--  <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DESCRIPTION' | translate}}</label>
                    <div class="col-sm-4">

                        <textarea class="form-control font-thin" ng-model="vm.user.description" rows="4" placeholder="{{'u.DESCRIPTION' | translate}}" style="resize: none;" ng-disabled="vm.isDetail"></textarea>


                    </div>

                </div>-->


                <div class="form-group" >

                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DESCRIPTION' | translate}}</label>

                <div class="panel" style="background-color: #f2f2f2; width:80%">
                    <link rel="stylesheet" href="js_components/editor.md/css/editormd.min.css" />
                    <div id="editormd" class="" style="margin: 0;padding: 0;border: 0;border-radius: 0;">
                        <textarea style="display:none;" ng-model="vm.user.description" ng-disabled="vm.isDetail"></textarea>
                    </div>
                    <script src="js_components/editor.md/editormd.js"></script>
                    <script type="text/javascript">
                        var editor;
                        var mdIndex = -1;
                        $(function() {
                            editor = editormd("editormd", {
                                height: 400,

                                imageUpload    : true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : " api/v1/files",



                                path : "js_components/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
                                toolbarIcons : function() {
                                    var simple = ["undo", "redo", "|",
                                        "bold", "del", "italic", "quote", "|",
                                        "h1", "h2", "h3", "h4", "h5", "h6", "|",
                                        "list-ul", "list-ol", "hr", "|",
                                        "code", "datetime", "pagebreak", "|",
                                        "watch", "preview", "clear", "|", "helper", "image"];

                                    return simple;
                                },
                                toolbarIconsClass : {
                                    helper : "fa-question-circle"  // 指定一个FontAawsome的图标类
                                },
                                toolbarHandlers : {
                                    /**
                                     * @param {Object}      cm         CodeMirror对象
                                     * @param {Object}      icon       图标按钮jQuery元素对象
                                     * @param {Object}      cursor     CodeMirror的光标对象，可获取光标所在行和位置
                                     * @param {String}      selection  编辑器选中的文本
                                     */
                                    helper : function(cm, icon, cursor, selection) {
                                        window.open('https://guides.github.com/features/mastering-markdown/');
                                    }
                                }
                            });
                        });
                        function updateMarkdown(content,index) {
                            mdIndex = index;
                            editor.clear();
                            editor.setMarkdown(content);
                        }
                        function getMarkDownAction() {
                            var md = editor.getMarkdown();
                            return {markdown:md,index:mdIndex};
                        }
                    </script>
                </div>

               <!-- <p>aaa</p>

                <p ng-bind="vm.user.description"></p>

                <p>bbb</p>-->

        </div>


                <!--   <div class="form-group">
                       <label class="col-sm-1 control-label m-l-lg font-bold">{{'profile.MAILBOX' | translate}}</label>
                       <div class="col-sm-4">
                           <input class="form-control" type="email"
                                  placeholder="{{'profile.MAILBOX' | translate}}" ng-model="vm.user.email" required>
                       </div>
                       <span style="color:red;font-size:20px;">*</span>
                   </div>

                   <div class="line line-dashed b-b line-lg"></div>
                   <div class="form-group">
                       <label class="col-sm-1 control-label m-l-lg font-bold">{{'tenant.ACTIVESTATUS' | translate}}</label>
                       <div class="col-sm-1 checkbox" style="padding-top:0;">

                           <label>
                                <input style="width:20px;height:20px;" type="checkbox" ng-model="vm.user.enabled" ng-disabled="!vm.isAdd">
                           </label>
                       </div>
                       <div ng-if="!vm.isAdd" class="col-sm-2" style="padding-left:0;">
                           <button ng-if="vm.user.enabled" class="btn btn-info btn-addon btn-sm pull-left" ng-click="vm.lockTenant()"><i class="fa fa-lock"></i>{{'tenant.LOCK' | translate}}</button>
                           <button ng-if="!vm.user.enabled" class="btn btn-info btn-addon btn-sm pull-left" ng-click="vm.unlockTenant()"><i class="fa fa-unlock-alt"></i>{{'tenant.ACTIVE' | translate}}</button>
                       </div>
                   </div>

                   <div class="line line-dashed b-b line-lg"></div>
                  -->


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button ng-if="!vm.isDetail" class="btn btn-default btn-sm m-l-lg btn-addon bg-light" ng-click="vm.backAction()"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                        <button ng-if="!vm.isDetail" class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{'product.CONFIRM' | T}} </button>
                        <button ng-if="vm.isDetail" ng-click="vm.backAction()" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>

                    </div>
                </div>






            </form>
        </div>
    </div>
</div>

