<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="VenueTemplateController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <!-- tasks -->

        <div class="m-l m-r m-t panel panel-default">
            <table  st-table="vm.displayedCollection" st-safe-src="vm.items" class="table table-bordered table-striped table-hover bg-white text-center">
                <thead>
                <tr>
                    <th colspan="7">
                        <button ng-click="vm.goAddItem()" class="btn btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>{{ 'u.ADD' | T }}</button>
                        <input st-search="" class="form-control pull-right m-b-xs w-md" placeholder="{{'u.SEARCH' | T}}" type="text"/>
                    </th>
                </tr>
                <tr class="font-bold">

                    <th class="text-center">{{'u.NAME' | T}}</th>
                    <th class="text-center">背景图片</th>
                    <th class="text-center">背景颜色</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">描述</th>
                    <th class="text-center">操作</th>

                </tr>

                </thead>
                <tbody class="">

                <tr ng-repeat="item in vm.displayedCollection">
                    <!--  <td ng-click="vm.goDetail(item)">{{item.id}}</td>-->
                    <td ng-click="vm.goDetail(item)">{{item.name}}</td>
                    <td ng-click="vm.goDetail(item)">

                        <!-- {{item.image}}-->
                        <img ng-src="{{item.backgroundPic}}" style="height:40px;width:90px;" alt="...">

                    </td>

                    <td ng-click="vm.goDetail(item)">{{item.backgroundColor}}</td>

                    <td ng-click="vm.goDetail(item)">
                        <label ng-class="vm.publishColor[item.published]" ng-bind="vm.publishType[item.published]" class="label"></label>
                    </td>
                    <td ng-click="vm.goDetail(item)"> {{item.description}}</td>


                    <td>
                        <button class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.goDetail(item)"><i class="fa fa-eye"></i>{{'u.DETAIL'|T}}</button>
                        <button class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.goEditItem(item)"><i class="fa fa-edit"></i>{{ 'u.EDIT' | T}}</button>

                        <div class="btn-group " >
                            <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-sliders"></i>  操作</button>
                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu" style="overflow:visible; z-index:1010;width:100px;position:absolute;">
                                <li ng-class="{disabled: !item.isPublishEnable}" ng-click="vm.OperApp('publish', item)" ><a><i class="fa fa-lock m-r-sm"></i>上线</a></li>
                                <li ng-class="{disabled: !item.isUnPublishEnable}" ng-click="vm.OperApp('unpublish', item)" ><a><i class="fa fa-unlock m-r-sm"></i>下线</a></li>
                                <li  ng-click="vm.openAlert('sm',item)" ><a><i class="fa fa-trash-o m-r-sm"></i> {{'u.DELETE' | T}}</a></li>

                            </ul>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
        </div>
        <!-- / tasks -->
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'app/components/core/modal.html'"></div>
</script>