<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="UserEditController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <span us-spinner spinner-on="vm.showSpinner"></span>
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{vm.title}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
               
            </div>
        </div> -->

        <!-- tasks -->



        <div class="panel panel-default m-l m-r m-t">

            <div class="panel-heading">
                <h3 class="panel-title">{{'product.INFORMATION' | translate}}</h3>
            </div>
            <br/>
            <form name="form" class="form-horizontal form-validation" role="form">

                <div  ng-if="vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">用户名</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="用户名" ng-model="vm.addUser.username" ng-disabled="vm.isDetail" ng-pattern="/^[a-zA-Z0-9_\\-]{2,20}$/" required>
                    </div>
                    <span ng-if="!vm.isDetail"><i style="color:red;font-size:20px;">* </i><i style="font-style:normal; color:#999;">{{'tenant.USERNAMETIP' | translate}}</i></span>
                </div>
                <div  ng-if="vm.isAdd" class="line line-dashed b-b line-lg"></div>


               <div  ng-if="vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.PASSWORD' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password"
                               placeholder="{{'u.PASSWORD' | translate}}" ng-model="vm.addUser.password" ng-pattern="/^[a-zA-Z0-9_\\-]{8,20}$/" required>
                    </div>
                    <span><i style="color:red;font-size:20px;">* </i><i style="font-style:normal; color:#999;">{{'tenant.PASSWORDTIP' | translate}}</i></span>
                </div>
                <div  ng-if="vm.isAdd" class="line line-dashed b-b line-lg"></div>




                <!--<div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ROLE' | translate}}</label>
                    <div class="col-sm-4">
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.role" ng-options="s.value as s.title for s in vm.userType" ng-disabled="vm.isDetail" ></select>

                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>
-->
                <div ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">用户名</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.NICKNAME' | translate}}" ng-model="vm.user.nickName" ng-disabled="vm.isDetail" ng-pattern="/^[a-zA-Z0-9_\\-]{2,20}$/" required>
                    </div>
                    <span ng-if="!vm.isDetail"><i style="color:red;font-size:20px;">* </i><i style="font-style:normal; color:#999;">{{'tenant.USERNAMETIP' | translate}}</i></span>
                </div>
                <div ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>





                <div  ng-if="vm.isDetail"  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.STATUS' | translate}}</label>
                    <div class="col-sm-4">

                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.STATUS' | translate}}" ng-model="vm.user.status" ng-disabled="vm.isDetail" >-->

<!--
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.status" ng-options="s.value as s.title for s in vm.statusType" ng-disabled="vm.isDetail" ></select>
-->


                        <label style="position: relative;top:4px;" ng-class="vm.labelColor[vm.user.status]" ng-bind="vm.labelContent[vm.user.status]" class="label"></label>



                    </div>
                </div>
                <div  ng-if="vm.isDetail" class="line line-dashed b-b line-lg"></div>


                <div  ng-if="vm.isDetail" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">积分</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="积分" ng-model="vm.user.points" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="vm.isDetail" class="line line-dashed b-b line-lg"></div>



                <div  ng-if="vm.isDetail" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">等级</label>
                    <div class="col-sm-4">
                        <!--<input class="form-control" type="text"
                               placeholder="等级" ng-model="vm.user.rank" ng-disabled="vm.isDetail">
-->

                        <label style="position: relative;top:4px;" ng-class="vm.labelColor[vm.user.rank]" ng-bind="vm.labelContent[vm.user.rank]" class="label"></label>


                    </div>

                </div>
                <div ng-if="vm.isDetail" class="line line-dashed b-b line-lg"></div>





                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">头像</label>

                    <div class="col-sm-4">


                  <!--      <input class="form-control" type="text" style="margin-bottom:10px;"
                               placeholder="{{'u.IMAGE' | translate}}" ng-model="vm.user.avatar" ng-disabled="vm.isDetail" >

                    <div class="img-preview">
                        <img ng-src="{{vm.user.avatar}}" alt="">
                    </div>-->




                        <div class="beauty-upload">

                            <div class="lcell span5" style="margin:5px 0px;">
                                <div class="upload">
                                    <input type="button" class="btn btn-default upload-btn" value="浏览文件"></input>
                                    <!--<span  ng-bind="vm.myUploadFile.name">eee</span>-->
                                    <label  ng-bind="vm.myUploadFile.name" class="label bg-finished"></label>
                                    <input type="file" file-model = "vm.myUploadFile" class="upload-input-file" />
                                    <button style="float:right;background:#23b7e5;border-radius:3px;" class="btn btn-default" ng-click="vm.uploadFile()"> <i class="fa fa-check-circle"></i> 上传 </button>
                                </div>
                            </div>

                        </div>

                        <input class="form-control" type="text" style="margin-bottom:10px;"
                               placeholder="{{'u.IMAGE' | translate}}" ng-model="vm.user.avatar" ng-disabled="vm.isDetail" >

                        <div class="img-preview">

                            <img ng-src="{{vm.user.avatar}}" alt="">

                        </div>



                    </div>














                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>




                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">真实姓名</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="真实姓名" ng-model="vm.user.realName" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>



                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">证件号</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="证件号" ng-model="vm.user.identity" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>





                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">性别</label>
                    <div class="col-sm-4">
                        <!--<input class="form-control" type="text"
                               placeholder="性别" ng-model="vm.user.gender" ng-disabled="vm.isDetail">-->
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.gender" ng-options="s.value as s.title for s in vm.genderType" ng-disabled="vm.isDetail" ></select>

                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>



                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">生日</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="生日" ng-model="vm.user.birthday" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>








                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">国家</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="国家" ng-model="vm.user.country" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>





                <div ng-if="!vm.isAdd"  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">省</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="省" ng-model="vm.user.province" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>

                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">市</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="市" ng-model="vm.user.city" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>


                <div  ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">爱好</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="爱好" ng-model="vm.user.hobbies" ng-disabled="vm.isDetail">
                    </div>

                </div>
                <div  ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>





                <div ng-if="vm.isDetail"  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.CREATEDATE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.CREATEDATE' | translate}}" ng-model="vm.user.creationDate" ng-disabled="vm.isDetail" >
                    </div>

                </div>
                <div ng-if="vm.isDetail"  class="line line-dashed b-b line-lg"></div>

                <div ng-if="vm.isDetail"  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">上次访问日期</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="上次访问日期" ng-model="vm.user.lastAccessedDate" ng-disabled="vm.isDetail" >
                    </div>

                </div>
                <div ng-if="vm.isDetail"  class="line line-dashed b-b line-lg"></div>




                <div ng-if="vm.isDetail"  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">上次访问IP</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="上次访问IP" ng-model="vm.user.lastAccessedIp" ng-disabled="vm.isDetail" >
                    </div>

                </div>
                <div ng-if="vm.isDetail"  class="line line-dashed b-b line-lg"></div>


                <div  ng-if="vm.isDetail && vm.user.dailySignin" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">连续签到天数</label>
                    <div class="col-sm-1">
                        <input class="form-control" type="text"
                               placeholder="每日签到" ng-model="vm.user.dailySignin.consecutiveSignins" ng-disabled="vm.isDetail">
                    </div>

                    <label class="col-sm-1 control-label m-l-lg font-bold">上次签到时间</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text"
                               placeholder="每日签到" ng-model="vm.user.dailySignin.lastSigninDate" ng-disabled="vm.isDetail">
                    </div>

                    <label class="col-sm-1 control-label m-l-lg font-bold">当前是否登陆</label>
                    <div class="col-sm-1">
                        <!--<input class="form-control" type="text"
                               placeholder="每日签到" ng-model="vm.user.dailySignin.signin" ng-disabled="vm.isDetail">-->

                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.dailySignin.signin" ng-options="s.value as s.title for s in vm.encType" ng-disabled="vm.isDetail" ></select>

                    </div>

                </div>
                <div ng-if="vm.isDetail && vm.user.dailySignin"  class="line line-dashed b-b line-lg"></div>




                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button ng-if="!vm.isDetail" class="btn btn-default btn-sm m-l-lg btn-addon bg-light" ng-click="vm.backAction()"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                        <button ng-if="!vm.isDetail" class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.submitAction()" > <i class="fa fa-check-circle"></i>{{'product.CONFIRM' | T}} </button>
                        <button ng-if="vm.isDetail" ng-click="vm.backAction()" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>

                    </div>
                </div>






            </form>
        </div>
    </div>
</div>

