
<div class="panel" ng-controller="SdkEditProfileCtrl as vm">
	<div role="tabpanel" class="tab-pane panel active col-sm-12">
		<div class="m-t panel panel-default" style="min-height: 600px">
			<!-- <table class="table table-hover table-striped table-bordered text-center" data-filter="#filter" data-page-size="5">
				<thead>
					<tr>
			            <th colspan="5">
							<button ng-click="vm.saveProfile()"class="btn btn-sm btn-info form-inline btn-addon"><i class="fa fa-save"></i>{{'product.SAVE' | translate}}</button>
			            </th>
			        </tr>
				</thead>
			</table>
			<div onselectstart="javascript:/*IE8 hack*/return false" id="gfx_holder_profile" style="width:100%; min-height:800px; ">
			</div> -->
			<!--
			<div class="box" id="box">
				<canvas id="cvs" width="800" height="800"></canvas>
				<div class="left draFting" id="left">
					<h3>DeviceProfile<i class="glyphicon glyphicon-plus" id="clones"></i></h3>
					<ol>
						<li ng-repeat="x in vm.profileInfo.fields">
							<em><input type="text" disabled="disabled" value={{x.name}}></em>
							<strong>
								<select ng-model="selectedSite" ng-options="x.site for x in profileInfo">
								</select>
								<select name="" id="" disabled="disabled">
									<option name={{x.type}}>{{x.type}}</option>
								</select>
							</strong>
						</li>
					</ol>
					<ul></ul>
				</div>
			</div> -->
			<div class="wrap">
				<button type="button" class="btn btn-info" style="margin:10px;background:#1DAEEF" id="btn">提交</button><!--<div id="dd"> dddd</div>  -->
				<div class="box" id="box">
					<canvas id="cvs"  width="1073" height="1088"></canvas>
					<div class="Recordchild draFting" id="left">
					</div>
				</div>	
			</div>	
		</div>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
	<div ng-include="'app/components/core/modal.html'"></div>
</script>