<!--<div class="lter bg-light col-md-12">-->
	<!--<h1 class="m-n h3 wrapper-md text-black">EventMapping Detail</h1>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-6">-->
	<!--<button class="btn btn-outline-inverse bg-info glyphicon glyphicon-arrow-left pull-right" ng-click="vm.back()"> 返回</button>-->
<!--</div>-->



<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EmController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
	<!-- main -->
	<div class="col">
		<!-- main header -->
		<!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h1 class="m-n font-thin h3 text-black">{{'product.EVENTMAPPING' | translate}}{{'product.DETAIL' | translate}}</h1>
					<small class="text-muted">HNA EcoTech Internet of Things</small>
				</div>
				<div class="col-sm-4 col-xs-6 col-md-6">
					<button ng-click="vm.backToEventMapping()" class="btn m-b-xs btn-sm btn-info btn-addon pull-right"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>
				</div>
			</div>
		</div> -->

		<!-- / tasks -->
		<div class="m-l m-r m-t panel panel-default">
			<div class="panel-body wrapper-md">
				<div class="form-horizontal" style="border: 1px solid #eee;">
					<!-- <div class="panel-heading font-bold">
						{{'product.EVENTGROUP' | translate}}
					</div> -->
					<br>
					<div class="form-group">
						<label class="col-sm-1 m-l-lg font-bold text-right">{{'product.NAME' | translate}}</label>
						<div class="col-sm-9" ng-bind="vm.showedEmData.eventClassFamilyDisplayName ? vm.showedEmData.eventClassFamilyDisplayName : vm.showedEmData.eventClassFamilyName"></div>
					</div>
					<div class="line line-dashed b-b line-lg"></div>
					<div class="form-group">
						<label class="col-sm-1 m-l-lg font-bold text-right">{{'product.VERSION' | translate}}</label>
						<div class="col-sm-9" ng-bind="vm.showedEmData.eventSchemaVersion"></div>
					</div>
					<div class="line line-dashed b-b line-lg"></div>
					<div class="form-group">
						<label class="col-sm-1 m-l-lg font-bold text-right">{{'product.CREATEDBY' | translate}}</label>
						<div class="col-sm-9" ng-bind="vm.showedEmData.createdBy"></div>
					</div>
					<div class="line line-dashed b-b line-lg"></div>
					<div class="form-group">
						<label class="col-sm-1 m-l-lg font-bold text-right">{{'product.CREATEDDATE' | translate}}</label>
						<div class="col-sm-9">{{vm.showedEmData.createdDate | date:"yyyy-MM-dd"}}</div>
					</div>
				</div>
				<br>
				<div class="" style="border: 1px solid #eee;">
					<div class="panel-heading font-bold">{{'product.EVENTMAPPING' | translate}}</div>
					<div class="table-responsive">
						<table class="table m-b-none table-striped table-bordered table-hover text-center" data-filter="#filter" data-page-size="5">
							<thead class="table-striped table-bordered bg-light">
							<tr>
								<th class="col-sm-6" style="text-align: center; vertical-align: middle;">FQN</th>
								<th class="col-sm-3" style="text-align: center; vertical-align: middle;">{{'product.TYPE' | translate}}</th>
								<th class="col-sm-3" style="text-align: center; vertical-align: middle;">{{'product.SUPPORTOPERATE' | translate}}</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="item in vm.showedEmData.eventMappings">
								<td ng-bind="item.eventClassFqn"></td>
								<td ng-bind="item.eventClassType | firstUpper"></td>
								<td ng-bind="item.action | action"></td>
							</tr>
							</tbody>
						</table>
					</div>

				</div>

			</div>
		</div>

		<!-- tasks -->
		<!-- / tasks -->
	</div>

</div>
<!--<script>-->
<!--$('li[role] a').click(function (e) {-->
<!--e.preventDefault()-->
<!--$(this).tab('show')-->
<!--})-->
<!--</script>-->



