<!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">{{'product.SENDTOPIC' | translate}}</h1>
            <small class="text-muted">Send Notifications topic</small>
        </div>
    </div>
</div> -->
<div ng-controller="ProductSendNotification as vm" class="font-bold wrapper-md hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col" style="background-color: #fff;">
        <div class="panel panel-default">
            <div class="panel-body">
                <br/>
                <form name="form" class="bs-example form-horizontal form-validation">
                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'product.VERSION' | translate}}</label>
                        <div class="col-sm-5">
                            <select class="form-control font-thin" ng-change="vm.change()" ng-model="vm.selectedOption" ng-options="s.ver as s.list for s in vm.options.hstep"></select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'product.EXPDATE' | translate}}</label>
                        <div class="col-sm-5">
                            <p class="input-group">
                                <input type="text" class="form-control font-thin" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.opened" min-date="vm.minDate" maxDate="'2016-08-25'" uib-datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                    </div>
                    <!--循环展示字段列表-->
                    <span ng-repeat="item in vm.notificationDatas">
                        <div class="line line-dashed b-b line-lg"></div>
                        <div class="form-group">
                            <label class="col-sm-1 m-l-lg font-bold control-label">{{item.name}}</label>
                            <div class="col-sm-5">
                                <!--string and bytes-->
                                <input ng-if="(item.type=='string')||(item.type=='bytes')" type="text" class="col-sm-8 form-control font-thin" ng-model="vm.otherfield[$index].input" placeholder="{{'product.PLEASEINPUT' | translate}}{{item.type | firstUpper}}{{'product.DATATYPE' | translate}}" required />
                                <!--int and long-->
                                <span ng-if="(item.type=='int')||(item.type=='long')">
                                    <input type="number" name="number" ng-keyup="vm.watchValue(item.type,vm.otherfield[$index].input,$index)" class="col-sm-8 form-control font-thin" ng-model="vm.otherfield[$index].input" placeholder="{{'product.PLEASEINPUT' | translate}}{{item.type | firstUpper}}{{'product.DATATYPE' | translate}}" required />
                                    <input ng-if="!vm.isNumberValid[$index]" type="text" class="no-border col-sm-8 font-thin" style="color:red;" value="{{'product.INVALIDRANGE' | translate}}"/>
                                </span>
                                
                                <!--float and double-->
                                <input ng-if="(item.type=='float')||(item.type=='double')" type="text" class="col-sm-8 form-control font-thin" ng-model="vm.otherfield[$index].input" ng-pattern="/^[0-9]{1,}[.]{1}[0-9]{1,}$/" placeholder="{{'product.PLEASEINPUT' | translate}}{{item.type | firstUpper}}{{'product.DATATYPE' | translate}}" required />
                                <!--boolean-->
                                <div ng-if="item.type=='boolean'" class="checkbox col-sm-2">
                                    <label class="i-checks">
                                        <input type="checkbox" ng-model="vm.isChecked[$index].isCheck" /><i></i>
                                    </label>
                                </div>
                                <!--enum-->
                                <select ng-if="item.type.name" class="col-sm-8 form-control font-thin" ng-model="vm.selectedEnums[$index].sel" ng-options="opt for opt in item.type.symbols"></select>
                            </div>
                            <span ng-if="!((item.type=='boolean')||(item.type.name))" class="form-control no-border">
                                <i style="color:red;font-size: 20px;padding-right:4px;">*</i>
                            </span>
                        </div>
                        <!-- <div class="line line-dashed b-b line-lg"></div> -->
                    </span>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <button ng-click="vm.cancelSend()" class="btn m-l-lg m-b-xs btn-sm btn-default btn-addon bg-light"><i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}}</button>
                            <button type="submit" ng-click="vm.sendNotification()" ng-disabled="form.$invalid" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-send"></i>{{'product.SEND' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
