

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ProductSdkListCtrl as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
    app.settings.container = false;
  ">
    <!-- main -->
    <div class="row panel" style="margin-bottom:0;">
    	<!-- main header -->
        <div class="lter wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h4 text-black">{{'product.PRODUCTDETAIL' | translate}}</h1>
                </div>
            </div>
        </div>
        <!-- task -->
		<div class="wrapper-md">
			<table class="table table-bordered bg-white text-center">
	           
	            <tbody class="font-bold">
	            	<tr style="border-bottom:1px dashed #ddd">
		                <td colspan="2">
		                    <button ng-click="vm.UpdataProduct()"  class="btn btn-sm btn-info btn-addon pull-left"><i class="fa fa-openid"></i>{{vm.buttonEnable}}</button>
		                </td>
					</tr>


	            	<tr style="border-bottom:1px dashed #ddd">
		                <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.NAME' | translate}}</td>
		                <td class="col-md-10" style="border:none;">
		                	<input style="width: 50%;" ng-model="vm.modifiedProductInfo.name" type="text" class="form-control pull-left font-thin" required disabled>
		                </td>
		            </tr>
		            <!--<tr style="border-bottom:1px dashed #ddd">
		                <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.SHOWEDNAME' | translate}}</td>
		                <td class="col-md-10" style="border:none;">
		                	<input style="width: 50%;" ng-model="vm.modifiedProductInfo.displayName" type="text" class="form-control pull-left font-thin" required disabled>
		                </td>
		            </tr>-->
		            <tr style="border-bottom:1px dashed #ddd">
		            	<td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.DESCRIPTION' | translate}}</td>
		                <td class="col-md-10" style="border:none;">
		                	<!-- <input style="width: 50%;" ng-model="vm.modifiedProductInfo.description" type="text" class="form-control pull-left font-thin" required> -->
		                	<textarea style="width: 50%;resize:none" ng-model="vm.modifiedProductInfo.description" class="form-control font-thin pull-left" rows="3" cols="" required disabled></textarea>
		                </td>
		            </tr>




					<tr style="border-bottom:1px dashed #ddd">
						<td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.ACCESSURL' | translate}}</td>
						<td class="col-md-10" style="border:none;">
							<input style="width: 50%;" ng-model="vm.modifiedProductInfo.accessUrl" type="text" class="form-control pull-left font-thin" required disabled>
						</td>
					</tr>

					<tr style="border-bottom:1px dashed #ddd">
						<td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.ACCESSTOKEN' | translate}}</td>
						<td class="col-md-10" style="border:none;">
							<input style="width: 50%;" ng-model="vm.modifiedProductInfo.accessToken" type="text" class="form-control pull-left font-thin" required disabled>
						</td>
					</tr>


					<tr>
						<td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.CHECKWAY' | translate}}</td>
						<td class="col-md-10" style="border:none;">
							<select style="width: 50%;" class="form-control font-thin" ng-model="vm.modifiedProductInfo.credentialsProvider" ng-options="s.value as s.title for s in vm.userVerifier" ng-change="vm.selectedUVChanged()"></select>
						</td>
					</tr>
	            </tbody>
	        </table>
		</div>
    </div>


</div>