<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EditCredentialController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12 col-md-6">
                    <h1 class="m-n font-thin h3 text-black">{{vm.title}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
                <div class="col-sm-4 col-xs-6 col-md-6" ng-show="vm.shouldShowBackAction">
                    <button ng-click="vm.back()" class="btn m-b-xs btn-sm btn-info btn-addon pull-right"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>
                </div>
            </div>
        </div> -->

        <!-- tasks -->

        <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">修改密码</h3>-->
        <!--</div>-->
        <!--<br/>-->
        <!---->
        <!--&lt;!&ndash; /修改密码&ndash;&gt;-->

        <!--</div>-->

        <br/>
        <div class="panel panel-default m-l m-r">
            <!--<div class="panel-heading">-->
            <!--<div style="margin:0 0 0 10px;" class="row">-->
            <!--<h4 class="modal-title">设备</h4>-->
            <!--</div>-->
            <!--</div>-->
            <form name="form" class="form-horizontal form-validation" role="form">
                <br/>
                <!--<div class="line line-dashed b-b line-lg"></div>-->
                <div class="form-group">
                    <label class="col-sm-1 m-l-lg control-label font-bold">{{'device.SERIALNUMBER' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'device.SERIALNUMBER' | translate}}" ng-model="vm.info.sn" required>
                    </div>
                    <p><i style="color:red; font-size: 20px; padding-right: 4px;">*</i></p>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group">
                    <label class="col-sm-1 m-l-lg control-label font-bold">{{'device.PRODUCT' | translate}}</label>
                    <div class="col-sm-4">
                        <!-- <select class="form-control" disabled ng-model="vm.productOption" ng-options="s.name for s in vm.products" ng-change="vm.selectedVersionChanged()" required></select> -->
                        <input class="form-control" type="text" ng-model="vm.productShow.name" disabled />
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group">
                    <label class="col-sm-1 m-l-lg control-label font-bold">{{'device.CERTIFICATE' | translate}}</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" ng-disabled="vm.alreadyGeneralCI" type="text"
                                  placeholder="{{'device.CERTIFICATE' | translate}}" rows="5" ng-model="vm.info.body" style="resize:none;"
                                  >{{vm.info.body}}
						</textarea>

                        <!--<input type="file" class="file" id="fileInput" />-->
                        <br/>
                        <button class="btn" ng-click="vm.generalCI()" ng-hide="vm.showDownLoadCI" style="position: relative;display: inline-block;background: #D0EEFF;border: 1px solid #99D3F5;border-radius: 4px;padding: 4px 12px;overflow: hidden;color: #1E88C7;text-decoration: none;text-indent: 0;line-height: 20px;">{{'生成证书'}}
                        </button>
                        <button class="btn btn-success" ng-click="vm.downloadCI()" ng-hide="!vm.showDownLoadCI" style="position: relative;display: inline-block;background-color: #5cb85c;border: 1px solid #4cae4c;border-radius: 4px;padding: 4px 12px;overflow: hidden;color: #ffffff;text-decoration: none;text-indent: 0;line-height: 20px;">{{'下载证书'}}
                        </button>
                        <!--<button href="javascript:;" style="position: relative;display: inline-block;background: #D0EEFF;border: 1px solid #99D3F5;border-radius: 4px;padding: 4px 12px;overflow: hidden;color: #1E88C7;text-decoration: none;text-indent: 0;line-height: 20px;">{{'device.CHOOSEFILE' | translate}}-->
                            <!--<input type="file" id="fileInput" style="position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;" />-->
                        <!--</button>-->
                        <!--<div class="text-danger" ng-model="vm.fileTypeError">{{vm.fileTypeError}}</div>-->

                    </div>
                    <!-- <p><i style="color:red; font-size: 18px; padding-right: 4px;">*</i></p> -->
                </div>
                <div class="form-group" ng-if="vm.isDownloadTipShow">
                    <label class="col-sm-1 m-l-lg control-label"></label>
                    <div class="col-sm-4">
                        <textarea class="form-control bg-danger" row="2" style="resize:none;border-radius:4px;">{{vm.fileTypeError}}</textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button class="btn btn-sm btn-default form-inline btn-addon bg-light m-l-lg" type="button" ng-click="vm.backAction()"><i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}}</button>
                        <button class="btn btn-sm btn-info form-inline btn-addon" ng-hide="!vm.isAdd" type="submit" ng-click="vm.submitAction()"  ng-disabled='form.$invalid || vm.isnull'> <i class="fa fa-plus"></i>{{'product.ADD' | translate}}</button>
                        <button class="btn btn-sm btn-info form-inline btn-addon" ng-hide="vm.isAdd" type="submit" ng-click="vm.submitAction()"  ng-disabled='form.$invalid || vm.isnull'> <i class="fa fa-edit"></i>{{'event.SUBMIT' | translate}}</button>
                    </div>
                </div>
                <br/>

            </form>
        </div>


        <!-- / tasks -->
    </div>
</div>
