<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="CredentialManagerController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">

    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{'device.CERTIFICATEMANAGEMENT' | translate}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
                <div class="col-sm-4 col-xs-6 col-md-6" ng-show="vm.shouldShowBackAction">
                    <button ng-click="vm.back()" class="btn m-b-xs btn-sm btn-info btn-addon pull-right"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>
                </div>
            </div>
        </div> -->
        <!-- tasks -->

        <div class="m-l m-r m-t panel panel-default">
            <table  st-table="vm.displayedCollection" st-safe-src="vm.items" class="table table-bordered table-striped table-hover bg-white text-center">
                <thead>
                <tr>
                    <th colspan="1">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only">{{'device.PRODUCT' | translate}}</label>
                                <select style="min-width:80px!important;" class="form-control" ng-model="vm.productOption" ng-options="p.name for p in vm.products" ng-change="vm.productSelectedChanged()"></select>
                            </div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th colspan="5">
                        <button ng-disabled="!vm.canAdd" ng-click="vm.goAddItem()" class="btn btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>{{'product.ADD' | translate}}</button>
                        <input st-search="" class="form-control pull-right m-b-xs w-md" placeholder="{{'product.SEARCH' | translate}}" type="text"/>
                    </th>
                </tr>
                <tr class="bg-light">
                    <th class="text-center">{{'device.INDEX' | translate}}</th>
                    <th class="text-center">{{'device.SERIALNUMBER' | translate}}</th>
                    <!--<th class="text-center">产品</th>-->
                    <!-- <th class="text-center">租户</th> -->
                    <th class="text-center">{{'device.STATUS' | translate}}</th>
                    <th class="text-center">{{'product.OPERATE' | translate}}</th>
                </tr>

                </thead>
                <tbody>

                <tr ng-repeat="item in vm.displayedCollection">
                    <td ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{item.id}}</td>
                    <td ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{item.sn}}</td>
                    <!--<td ng-click="vm.goDetail(item)">{{item.product}}</td>-->
                    <!-- <td ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{item.tenant}}</td> -->
                    <!-- <td ng-click="vm.goDetail(item)" ng-bind="item.status == 'in_use' ? '使用中' : (item.status == 'available' ? '可用' : (item.status == 'revoked' ? '已撤销' : '不可用'))" style="vertical-align: middle;"></td> -->
                    <td ng-if='item.status == "in_use"' ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{'device.ONUSING' | translate}}</td>
                    <td ng-if='item.status == "available"' ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{'device.AVAILABLE' | translate}}</td>
                    <td ng-if='item.status == "revoked"' ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{'device.CANCELED' | translate}}</td>
                    <td ng-if='item.status == "disabled"' ng-click="vm.goDetail(item)" style="vertical-align: middle;">{{'device.DISABLED' | translate}}</td>
                    <!--<td ng-click="vm.goDetail(item)">-->
                        <!--<input type="checkbox" ng-disabled=true class="checkbox" ng-checked="item.status">-->
                    <!--</td>-->
                    <td style="white-space: nowrap" style="vertical-align: middle;">
                        <div class="buttons">
                            <button ng-disabled = "item.status == 'revoked'" class="btn btn-sm btn-info btn-addon" ng-click="vm.revokeAlert('',item)"><i class="fa fa-share-square-o"></i>{{"device.CANCEL" | translate}}</button>
                            <!--<button class="btn btn-sm btn-danger" data-toggle="modal"-->
                            <!--data-target="#myModal">del</button>-->
                            <button class="btn btn-sm btn-danger btn-addon" ng-click="vm.openAlert('sm',item)"><i class="fa fa-trash-o"></i>{{'product.DELETE' | translate}}</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="btn-group pagination pull-right padder-lg">
            <button type="button" class="btn btn-default" ng-click="vm.preAction()" ng-disabled= !vm.pagePreEnabled>{{ 'page.pre' | translate }}</button>
            <button type="button" class="btn btn-default" ng-repeat="page in vm.pages" ng-click="vm.goPage(page)" ng-disabled= vm.pageCurrentState(page)>{{page}}</button>
            <button type="button" class="btn btn-default" ng-click="vm.nextAction()" ng-disabled= !vm.pageNextEnabled>{{ 'page.next' | translate }}</button>
        </div>

        <!-- / tasks -->
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'app/components/core/modal.html'"></div>
</script>

