

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ProfileController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">

    <div class="col" >
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{'profile.PERSONALCENTER' | translate}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
            </div>
        </div> -->
        <div class="panel panel-default m-t m-l m-r">
            <div class="panel-heading">
                <h3 class="panel-title">{{'login.PINFO' | translate}}</h3>
            </div>
            <div class="panel-body">

                <form name="formInfo" class="form-horizontal form-validation" role="form">
                    <!--<div class="wrapper-sm b-b form-group">-->
                        <!--<button class="btn btn-xs btn-default" ng-hide="vm.editing" ng-click="vm.editItem()">编辑</button>-->
                        <!--<button class="btn btn-xs btn-default" type="submit" ng-show="vm.editing" ng-click="vm.doneEditing()" ng-disabled='formInfo.$invalid'>完成</button>-->
                    <!--</div>-->
                    <!-- fields -->
                    <!--<br/>-->
                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.NICKNAME' | translate}}</label>
                        <div class="col-sm-6">
                            <!--<p class="form-control-static">{{vm.userinfo.username}}</p>-->
                            <input type="text" class="form-control col-sm-5" placeholder="{{'profile.NICKNAME' | translate}}" ng-model="vm.userinfo.nickName" >
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>


                    <!--<div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.AVATAR' | translate}}</label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control col-sm-5" placeholder="{{'profile.AVATAR' | translate}}" ng-model="vm.userinfo.avatar" >
                        </div>
                    </div>-->




                    <div  class="form-group">
                        <label class="col-sm-1 control-label m-l-lg font-bold">{{'profile.AVATAR' | translate}}</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text"
                                   placeholder="{{'profile.AVATAR' | translate}}" ng-model="vm.userinfo.avatar" ng-disabled="vm.isDetail" >

                            <input type="file"  file-model = "vm.myUploadFile" name="uploadPic" id="myfileId"/>
                            <button  class="btn btn-default" ng-click="vm.uploadFile()"> <i class="fa fa-check-circle"></i> 上传 </button>

                        </div>
                        <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                    </div>



                    <div class="line line-dashed b-b line-lg"></div>




                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.MAILBOX' | translate}}</label>
                        <div class="col-sm-6">
                            <!--<p class="form-control-static">{{vm.userinfo.email}}</p>-->
                            <input type="email" class="form-control col-sm-5" placeholder="{{'profile.MAILBOX' | translate}}" ng-model="vm.userinfo.email" required>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>




                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.WEBSITE' | translate}}</label>
                        <div class="col-sm-6">
                            <!--<p class="form-control-static">{{vm.userinfo.username}}</p>-->
                            <input type="text" class="form-control col-sm-5" placeholder="{{'profile.WEBSITE' | translate}}" ng-model="vm.userinfo.website" >
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>




                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.ADDRESS' | translate}}</label>
                        <div class="col-sm-6">
                            <!--<p class="form-control-static">{{vm.userinfo.username}}</p>-->
                            <input type="text" class="form-control col-sm-5" placeholder="{{'profile.ADDRESS' | translate}}" ng-model="vm.userinfo.address" >
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>







                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.HOTLINE' | translate}}</label>
                        <div class="col-sm-6">
                            <!--<p class="form-control-static">{{vm.userinfo.email}}</p>-->
                            <input type="phone" class="form-control col-sm-5" placeholder="{{'profile.HOTLINE' | translate}}" ng-model="vm.userinfo.hotline" required>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>




                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.DESCRIPTION' | translate}}</label>
                        <div class="col-sm-6">
<!--
                            <input type="text" class="form-control col-sm-5" placeholder="{{'profile.DESCRIPTION' | translate}}" ng-model="vm.userinfo.description" >
-->
                            <textarea class="form-control font-thin" ng-model="vm.userinfo.description" rows="4" placeholder="{{'u.DESCRIPTION' | translate}}" style="resize: none;" ></textarea>

                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>













                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-3">
<!--
                            <button class="btn m-l-lg btn-sm btn-info form-inline btn-addon" type="submit" ng-click="vm.doneEditing()" ng-disabled='formInfo.$invalid'><i class="glyphicon glyphicon-upload"></i>{{'profile.UPDATE' | translate}}</button>
-->


                            <button class="btn m-l-lg btn-sm btn-info form-inline btn-addon" type="submit" ng-click="vm.doneEditing()" ><i class="glyphicon glyphicon-upload"></i>{{'profile.UPDATE' | translate}}</button>


                        </div>
                    </div>

                </form>
                <!-- / fields -->
            </div>

        </div>








     <!--   <div class="panel panel-default m-l m-r">
            <div class="panel-heading">
                <h3 class="panel-title">{{'profile.MODIFYPASSWORD' | translate}}</h3>
            </div>
            <br/>
            <div class="panel-body">
                <form name="form" class="form-horizontal form-validation" role="form">

                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.ORIGINPASSWORD' | translate}}</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="password" placeholder="{{'profile.PASSWORD' | translate}}" ng-model="vm.password" ng-pattern="/^[a-zA-Z0-9@]{4,20}$/" required>
                        </div>
                        <span style="color:red;font-size:20px;">*</span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.NEWPASSWORD' | translate}}</label>
                        <div class="col-sm-3">
                            <input name="newpassword" class="form-control" type="password" placeholder="{{'profile.NEWPASSWORD' | translate}}" ng-model="vm.newpassword" ng-pattern="/^[a-zA-Z0-9@]{4,20}$/" required>
                        </div>
                        <span style="color:red;font-size:20px;">*</span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-1 m-l-lg font-bold control-label">{{'profile.PASSWORD' | translate}}</label>
                        <div class="col-sm-3">
                            <input name="confirmPassword" id="input2" class="form-control" type="password" placeholder="{{'profile.NEWPASSWORD' | translate}}" ng-model="vm.confirmPassword" ng-pattern="/^[a-zA-Z0-9@]{4,20}$/" required>
                            <span ng-show="form.newpassword.$valid">
                                <label ng-show="vm.confirmPassword!=vm.newpassword" class="no-border" type="text" style="color:red;">{{'profile.DIFFERENT' | translate}}</label>
                            </span>
                        </div>
                        <span style="color:red;font-size:20px;">*</span>
                    </div>

                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-3">
                            <button class="btn m-l-lg btn-sm btn-info btn-addon" type="submit" ng-click="vm.changePsd()" ng-disabled='form.$invalid'><i class="glyphicon glyphicon-upload"></i>{{'profile.UPDATE' | translate}}</button>
                        </div>
                    </div>

                </form>
            </div>
            
        </div>-->



    </div>
</div>
