<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="TraingSchoolEditController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <span us-spinner spinner-on="vm.showSpinner"></span>
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{vm.title}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
               
            </div>
        </div> -->

        <!-- tasks -->



        <div class="panel panel-default m-l m-r m-t">

            <div class="panel-heading">
                <h3 class="panel-title">{{'product.INFORMATION' | translate}}</h3>
            </div>
            <br/>
            <form name="form" class="form-horizontal form-validation" role="form">






                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.SCHOOLNAME' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.SCHOOLNAME' | translate}}" ng-model="vm.user.name" ng-disabled="vm.isDetail"  required>
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>

                <div  ng-if="vm.isAdmin && !vm.isEdit" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">商户</label>
                    <div class="col-sm-4">
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.selTenant" ng-options="s.id as s.nickName for s in vm.tenants" ng-disabled="vm.isDetail"></select>

                    </div>

                </div>
                <div  ng-if="vm.isAdmin && !vm.isEdit" class="line line-dashed b-b line-lg"></div>










                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ADDRESS' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.ADDRESS' | translate}}" ng-model="vm.user.address" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>

                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.CONTACT' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.CONTACT' | translate}}" ng-model="vm.user.contact" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>






                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.SCHOOLIMAGE' | translate}}</label>
                    <div class="col-sm-6">
                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.SCHOOLIMAGE' | translate}}" ng-model="vm.user.image" ng-disabled="vm.isDetail" >

                        <input type="file"  file-model = "vm.myUploadFile" name="uploadPic" id="myfileId"/>
                        <button  class="btn btn-default" ng-click="vm.uploadFile()"> <i class="fa fa-check-circle"></i> 上传 </button>
-->

                        <div class="beauty-upload">

                            <div class="lcell span5" style="margin:5px 0px;">
                                <div class="upload">
                                    <input type="button" class="btn btn-default upload-btn" value="浏览文件" />
                                    <!--<span  ng-bind="vm.myUploadFile.name">eee</span>-->
                                    <label  ng-bind="vm.myUploadFile.name" class="label bg-finished"></label>
                                    <input type="file" file-model = "vm.myUploadFile" class="upload-input-file" />
                                    <button style="float:right;background:#23b7e5;border-radius:3px;" class="btn btn-default" ng-click="vm.uploadFile()"> <i class="fa fa-check-circle"></i> 上传 </button>
                                </div>
                            </div>

                        </div>
                        <input class="form-control" type="text" style="margin-bottom:10px;"
                               placeholder="{{'u.IMAGE' | translate}}" ng-model="vm.user.image" ng-disabled="vm.isDetail" >

                        <div class="img-preview">
                            <img ng-src="{{vm.user.image}}" alt="">
                        </div>


                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>




                <div  class="line line-dashed b-b line-lg"></div>


                <div class="form-group" >

                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.BASEDESC' | translate}}</label>

                    <div class="panel" style="background-color: #f2f2f2; width:80%; padding:0px 0px 0px 0px; margin:0px 0px 0px 30px;">
                        <link rel="stylesheet" href="js_components/editor.md/css/editormd.min.css" />
                        <div id="editormd2" class="" style="margin: 0;padding: 0;border: 0;border-radius: 0;">
                            <textarea style="display:none;" ng-model="vm.user.baseDescription" ng-disabled="vm.isDetail"></textarea>
                        </div>
                        <script src="js_components/editor.md/editormd.js"></script>
                        <script type="text/javascript">
                            var editor2;
                            var mdIndex = -1;
                            $(function() {
                                editor2 = editormd("editormd2", {
                                    height: 400,

                                    imageUpload    : true,
                                    imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                    imageUploadURL : " api/v2/files",



                                    path : "js_components/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
                                    toolbarIcons : function() {
                                        var simple = ["undo", "redo", "|",
                                            "bold", "del", "italic", "quote", "|",
                                            "h1", "h2", "h3", "h4", "h5", "h6", "|",
                                            "list-ul", "list-ol", "hr", "|",
                                            "code", "datetime", "pagebreak", "|",
                                            "watch", "preview", "clear", "|", "helper", "image"];

                                        return simple;
                                    },
                                    toolbarIconsClass : {
                                        helper : "fa-question-circle"  // 指定一个FontAawsome的图标类
                                    },
                                    toolbarHandlers : {
                                        /**
                                         * @param {Object}      cm         CodeMirror对象
                                         * @param {Object}      icon       图标按钮jQuery元素对象
                                         * @param {Object}      cursor     CodeMirror的光标对象，可获取光标所在行和位置
                                         * @param {String}      selection  编辑器选中的文本
                                         */
                                        helper : function(cm, icon, cursor, selection) {
                                            window.open('https://guides.github.com/features/mastering-markdown/');
                                        }
                                    }
                                });
                            });
                            function updateMarkdown(content,index) {
                                mdIndex = index;
                                editor2.clear();
                                editor2.setMarkdown(content);
                            }
                            function getMarkDownAction2() {
                                var md = editor2.getMarkdown();
                                return {markdown:md,index:mdIndex};
                            }
                        </script>
                    </div>

                    <!-- <p>aaa</p>

                     <p ng-bind="vm.user.description"></p>

                     <p>bbb</p>-->

                </div>

                <div class="form-group" >

                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DESCRIPTION' | translate}}</label>

                    <div class="panel" style="background-color: #f2f2f2; width:80%; padding:0px 0px 0px 0px; margin:0px 0px 0px 30px;">
                        <link rel="stylesheet" href="js_components/editor.md/css/editormd.min.css" />
                        <div id="editormd" class="" style="margin: 0;padding: 0;border: 0;border-radius: 0;">
                            <textarea style="display:none;" ng-model="vm.user.description" ng-disabled="vm.isDetail"></textarea>
                        </div>
                        <script src="js_components/editor.md/editormd.js"></script>
                        <script type="text/javascript">
                            var editor;
                            var mdIndex = -1;
                            $(function() {
                                editor = editormd("editormd", {
                                    height: 400,

                                    imageUpload    : true,
                                    imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                    imageUploadURL : " api/v2/files",



                                    path : "js_components/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
                                    toolbarIcons : function() {
                                        var simple = ["undo", "redo", "|",
                                            "bold", "del", "italic", "quote", "|",
                                            "h1", "h2", "h3", "h4", "h5", "h6", "|",
                                            "list-ul", "list-ol", "hr", "|",
                                            "code", "datetime", "pagebreak", "|",
                                            "watch", "preview", "clear", "|", "helper", "image"];

                                        return simple;
                                    },
                                    toolbarIconsClass : {
                                        helper : "fa-question-circle"  // 指定一个FontAawsome的图标类
                                    },
                                    toolbarHandlers : {
                                        /**
                                         * @param {Object}      cm         CodeMirror对象
                                         * @param {Object}      icon       图标按钮jQuery元素对象
                                         * @param {Object}      cursor     CodeMirror的光标对象，可获取光标所在行和位置
                                         * @param {String}      selection  编辑器选中的文本
                                         */
                                        helper : function(cm, icon, cursor, selection) {
                                            window.open('https://guides.github.com/features/mastering-markdown/');
                                        }
                                    }
                                });
                            });
                            function updateMarkdown(content,index) {
                                mdIndex = index;
                                editor.clear();
                                editor.setMarkdown(content);
                            }
                            function getMarkDownAction() {
                                var md = editor.getMarkdown();
                                return {markdown:md,index:mdIndex};
                            }
                        </script>
                    </div>

                    <!-- <p>aaa</p>

                     <p ng-bind="vm.user.description"></p>

                     <p>bbb</p>-->

                </div>






                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button ng-if="!vm.isDetail" class="btn btn-default btn-sm m-l-lg btn-addon bg-light" ng-click="vm.backAction()"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                        <button ng-if="!vm.isDetail" class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{'product.CONFIRM' | T}} </button>
                        <button ng-if="vm.isDetail" ng-click="vm.backAction()" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>

                    </div>
                </div>






            </form>
        </div>
    </div>
</div>

