<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="TraingClassEditController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{vm.title}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
               
            </div>
        </div> -->

        <!-- tasks -->



        <div class="panel panel-default m-l m-r m-t">

            <div class="panel-heading">
                <h3 class="panel-title">{{'product.INFORMATION' | translate}}</h3>
            </div>
            <br/>
            <form name="form" class="form-horizontal form-validation" role="form">






                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.NAME' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.NAME' | translate}}" ng-model="vm.user.name" ng-disabled="vm.isDetail"  required>
                    </div>
                    <span ng-if="!vm.isDetail"><i style="color:red;font-size:20px;">* </i><i style="font-style:normal; color:#999;">{{'tenant.USERNAMETIP' | translate}}</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>





                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.PRICE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.PRICE' | translate}}" ng-model="vm.user.price" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>








                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.PRICEUNIT' | translate}}</label>
                    <div class="col-sm-4">
                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.PRICEUNIT' | translate}}" ng-model="vm.user.currencyUnit" ng-disabled="vm.isDetail" >
-->
                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.currencyUnit" ng-options="s.value as s.title for s in vm.priceType" ng-disabled="vm.isDetail" ></select>




                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>



                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.COURSESCHOOL' | translate}}</label>
                    <div class="col-sm-4">
                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.COURSESCHOOL' | translate}}" ng-model="vm.user.school.id" ng-disabled="vm.isDetail" >
-->

                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.school.id" ng-options="s.id as s.name for s in vm.schools" ng-disabled="vm.isDetail" ></select>



                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>


                <!--<div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.STARTDATE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.STARTDATE' | translate}}" ng-model="vm.user.startDate" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                -->






                <div class="form-group">
                    <label class="col-sm-1 m-l-lg font-bold control-label">{{'u.STARTDATE' | translate}}</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control font-thin" uib-datepicker-popup="{{vm.format}}" ng-model="vm.sdt" is-open="vm.opened1"  ng-disabled="vm.isDetail"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>






               <!-- <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ENDDATE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.ENDDATE' | translate}}" ng-model="vm.user.endDate" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>-->



                <div class="form-group">
                    <label class="col-sm-1 m-l-lg font-bold control-label">{{'u.ENDDATE' | translate}}</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control font-thin" uib-datepicker-popup="{{vm.format}}" ng-model="vm.edt" is-open="vm.opened2"  ng-disabled="vm.isDetail"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                </div>



                <div  class="line line-dashed b-b line-lg"></div>


                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.FLEETTYPE' | translate}}</label>
                    <div class="col-sm-4">
                        <!--<input class="form-control" type="text"
                               placeholder="{{'u.FLEETTYPE' | translate}}" ng-model="vm.user.airType" ng-disabled="vm.isDetail" >-->

                        <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.airType" ng-options="s for s in vm.classFleet" ng-disabled="vm.isDetail" ></select>



                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.LICENSE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.LICENSE' | translate}}" ng-model="vm.user.license" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>



                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ENROLLMENT' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.ENROLLMENT' | translate}}" ng-model="vm.user.enrollment" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.ENROLLNUM' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.ENROLLNUM' | translate}}" ng-model="vm.user.enrollNum" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>


                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.CLASSTOTALNUM' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.CLASSTOTALNUM' | translate}}" ng-model="vm.user.totalNum" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>



                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.LOCATION' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.LOCATION' | translate}}" ng-model="vm.user.location" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>


<!--
                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.CLASSIMAGE' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="{{'u.CLASSIMAGE' | translate}}" ng-model="vm.user.image" ng-disabled="vm.isDetail" >
                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>-->


                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.CLIENTMNGADD' | translate}}</label>
                </div>

                <div  class="form-group">

                    <div class="form-group" ng-repeat="item in vm.user.clientManagersArr">

                        <label class="col-sm-1 control-label  font-bold">{{'u.CLIENTMNGNAME' | translate}}</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text"
                                   placeholder="{{'u.CLIENTMNGNAME' | translate}}" ng-model="item.name" ng-disabled="vm.isDetail"  required>

                        </div>

                        <label class="col-sm-1 control-label  font-bold">{{'u.CLIENTMNGEMAIL' | translate}}</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text"
                                   placeholder="{{'u.CLIENTMNGEMAIL' | translate}}" ng-model="item.email" ng-disabled="vm.isDetail"  required>
                        </div>

                        <div class="col-sm-2">
                            <button ng-if="!vm.isDetail" ng-click="vm.removeClientManager(item)" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-minus"></i>{{'product.DELETE' | translate}}</button>

                        </div>

                    </div>


                    <div class="col-sm-4">
                        <button ng-if="!vm.isDetail" ng-click="vm.addNewClientManager()" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-plus"></i>{{'u.ADD' | translate}}</button>

                    </div>

                </div>

                <div  class="line line-dashed b-b line-lg"></div>















                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.CLASSIMAGE' | translate}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text"
                               placeholder="{{'u.CLASSIMAGE' | translate}}" ng-model="vm.user.image" ng-disabled="vm.isDetail" >

                        <input type="file"  file-model = "vm.myUploadFile" name="uploadPic" id="myfileId"/>
                        <button  class="btn btn-default" ng-click="vm.uploadFile()"> <i class="fa fa-check-circle"></i> 上传 </button>

                    </div>
                    <span  ng-if="!vm.isDetail" style="color:red;font-size:20px;">*</span>
                </div>









                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.COURSESERVICE' | translate}}</label>
                    <div class="col-sm-4">

                        <textarea class="form-control font-thin" ng-model="vm.user.courseService" rows="4" placeholder="{{'u.COURSESERVICE' | translate}}" style="resize: none;" ng-disabled="vm.isDetail"></textarea>


                    </div>

                </div>

                <div  class="line line-dashed b-b line-lg"></div>




               <!-- <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DESCRIPTION' | translate}}</label>
                    <div class="col-sm-4">

                        <textarea class="form-control font-thin" ng-model="vm.user.description" rows="4" placeholder="{{'u.DESCRIPTION' | translate}}" style="resize: none;" ng-disabled="vm.isDetail"></textarea>


                    </div>

                </div>-->



                <div class="form-group" >

                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.DESCRIPTION' | translate}}</label>

                    <div class="panel" style="background-color: #f2f2f2; width:80%; padding:0px 0px 0px 0px; margin:0px 0px 0px 30px;">
                        <link rel="stylesheet" href="js_components/editor.md/css/editormd.min.css" />
                        <div id="editormd" class="" style="margin: 0;padding: 0;border: 0;border-radius: 0;">
                            <textarea style="display:none;" ng-model="vm.user.description" ng-disabled="vm.isDetail"></textarea>
                        </div>
                        <script src="js_components/editor.md/editormd.js"></script>
                        <script type="text/javascript">
                            var editor;
                            var mdIndex = -1;
                            $(function() {
                                editor = editormd("editormd", {
                                    height: 400,

                                    imageUpload    : true,
                                    imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                    imageUploadURL : " api/v1/files",



                                    path : "js_components/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
                                    toolbarIcons : function() {
                                        var simple = ["undo", "redo", "|",
                                            "bold", "del", "italic", "quote", "|",
                                            "h1", "h2", "h3", "h4", "h5", "h6", "|",
                                            "list-ul", "list-ol", "hr", "|",
                                            "code", "datetime", "pagebreak", "|",
                                            "watch", "preview", "clear", "|", "helper", "image"];

                                        return simple;
                                    },
                                    toolbarIconsClass : {
                                        helper : "fa-question-circle"  // 指定一个FontAawsome的图标类
                                    },
                                    toolbarHandlers : {
                                        /**
                                         * @param {Object}      cm         CodeMirror对象
                                         * @param {Object}      icon       图标按钮jQuery元素对象
                                         * @param {Object}      cursor     CodeMirror的光标对象，可获取光标所在行和位置
                                         * @param {String}      selection  编辑器选中的文本
                                         */
                                        helper : function(cm, icon, cursor, selection) {
                                            window.open('https://guides.github.com/features/mastering-markdown/');
                                        }
                                    }
                                });
                            });
                            function updateMarkdown(content,index) {
                                mdIndex = index;
                                editor.clear();
                                editor.setMarkdown(content);
                            }
                            function getMarkDownAction() {
                                var md = editor.getMarkdown();
                                return {markdown:md,index:mdIndex};
                            }
                        </script>
                    </div>

                    <!-- <p>aaa</p>

                     <p ng-bind="vm.user.description"></p>

                     <p>bbb</p>-->

                </div>


                <div  class="line line-dashed b-b line-lg"></div>






                <!--   <div class="form-group">
                       <label class="col-sm-1 control-label m-l-lg font-bold">{{'profile.MAILBOX' | translate}}</label>
                       <div class="col-sm-4">
                           <input class="form-control" type="email"
                                  placeholder="{{'profile.MAILBOX' | translate}}" ng-model="vm.user.email" required>
                       </div>
                       <span style="color:red;font-size:20px;">*</span>
                   </div>

                   <div class="line line-dashed b-b line-lg"></div>
                   <div class="form-group">
                       <label class="col-sm-1 control-label m-l-lg font-bold">{{'tenant.ACTIVESTATUS' | translate}}</label>
                       <div class="col-sm-1 checkbox" style="padding-top:0;">

                           <label>
                                <input style="width:20px;height:20px;" type="checkbox" ng-model="vm.user.enabled" ng-disabled="!vm.isAdd">
                           </label>
                       </div>
                       <div ng-if="!vm.isAdd" class="col-sm-2" style="padding-left:0;">
                           <button ng-if="vm.user.enabled" class="btn btn-info btn-addon btn-sm pull-left" ng-click="vm.lockTenant()"><i class="fa fa-lock"></i>{{'tenant.LOCK' | translate}}</button>
                           <button ng-if="!vm.user.enabled" class="btn btn-info btn-addon btn-sm pull-left" ng-click="vm.unlockTenant()"><i class="fa fa-unlock-alt"></i>{{'tenant.ACTIVE' | translate}}</button>
                       </div>
                   </div>

                   <div class="line line-dashed b-b line-lg"></div>
                  -->


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button ng-if="!vm.isDetail" class="btn btn-default btn-sm m-l-lg btn-addon bg-light" ng-click="vm.backAction()"> <i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}} </button>
                        <button ng-if="!vm.isDetail" class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>{{'product.CONFIRM' | T}} </button>
                        <button ng-if="vm.isDetail" ng-click="vm.backAction()" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>

                    </div>
                </div>






            </form>
        </div>
    </div>
</div>

