<!--
<div role="tabpanel" class="tab-pane panel col-sm-12 active">
    <br>
    <form name="form" class="form-horizontal form-validation" style="border:1px solid #eee;" role="form">
        <br/>



        <div class="form-group">
            <label class="font-bold m-l-md col-sm-2 control-label">
            <div>
                <button ng-click="vm.UpdataProduct()"  class="btn btn-sm btn-info btn-addon pull-left"><i class="fa fa-openid"></i>{{vm.buttonEnable}}</button>

            </div>
            </label>
        </div>



        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.NAME' | translate}}</label>
            <div class="col-sm-3">
                <label class="control-label">{{vm.info.name}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.DESCRIPTION' | translate}}</label>
            <div class="col-sm-5">
                <textarea class="form-control" ng-model="vm.info.description" placeholder="{{product.DESCRIPTION | translate}}" style="resize:none;"></textarea>
            </div>
        </div>



        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.CREATEDDATE' | translate}}</label>
            <div class="col-sm-5">
                <label class="control-label">{{vm.info.createdTime | date:"yyyy-MM-dd"}}</label>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>






        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.LANGUAGE' | translate}}</label>
            <div class="col-sm-3">
                <label class="control-label">{{vm.info.lang}}</label>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>





        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.CODE_ADDR' | translate}}</label>
            <div class="col-sm-3">
                <label class="control-label">{{vm.info.git}}</label>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>





        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.STATUS' | translate}}</label>
            <div class="col-sm-3">
                <label class="control-label">{{vm.info.state}}</label>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>



        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.APP_SERVICES' | translate}}</label>
            <div class="col-sm-3">
                <label class="control-label">{{vm.info.services}}</label>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>


        <div class="form-group">
            <label class="font-bold m-l-lg col-sm-2 control-label">{{'product.APP_IMAGES' | translate}}</label>
            <div class="col-sm-3">
                <label class="control-label">{{vm.info.images}}</label>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>
    </form>
    <br/>
</div>


-->






























<div class="hbox hbox-auto-xs hbox-auto-md">

    <div class="row panel" style="margin-bottom:0;">
        <!-- main header -->
        <div class="lter wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h4 text-black">{{'product.APPDETAIL' | translate}}</h1>
                </div>
            </div>
        </div>
        <!-- task -->
        <div class="wrapper-md">
            <table class="table table-bordered bg-white text-center">

                <tbody class="font-bold">
                <tr style="border-bottom:1px dashed #ddd">
                    <td colspan="2">
<!--
                        <button ng-click="vm.UpdataProduct()"  class="btn btn-sm btn-info btn-addon pull-left"><i class="fa fa-openid"></i>{{vm.buttonEnable}}</button>
-->

                        <div class="pull-left btn-group">
                            <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-sliders"></i> 操作</button>
                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <!--<li ng-click="vm.OperApp(1)" ng-show="vm.showDeploy"><a><i class="fa fa-play m-r-sm"></i>生成镜像</a></li>
                                <li ng-click="vm.OperApp(2)" ng-show="vm.showDeploy"><a><i class="fa fa-play m-r-sm"></i>部署</a></li>
                                <li ng-click="vm.OperApp(3)" ng-show="vm.showOther"><a><i class="fa fa-play m-r-sm"></i>开始</a></li>
                                <li ng-click="vm.OperApp(4)" ng-show="vm.showOther"><a><i class="fa fa-stop m-r-sm"></i>停止</a></li>
                                <li ng-click="vm.OperApp(5)" ng-show="vm.showOther"><a><i class="fa fa-repeat m-r-sm"></i>重启</a></li>
                                <li ng-click="vm.OperApp(6)" ng-show="vm.showOther"><a><i class="fa fa-trash m-r-sm"></i>删除</a></li>
                            -->

                                <li ng-class="{disabled: !vm.selItem.isImageEnable}" ng-click=" vm.OperApp(1)" ng-show="vm.showDeploy"><a><i class="fa fa-database m-r-sm"></i>镜像</a></li>
                                <li ng-class="{disabled: !vm.selItem.isDeployEnable}" ng-click="vm.OperApp(2)" ng-show="vm.showDeploy"><a><i class="fa fa-building-o m-r-sm"></i>部署</a></li>
                                <li ng-class="{disabled: !vm.selItem.isStartEnable}" ng-click="vm.OperApp(3)" ng-show="vm.showOther"><a><i class="fa fa-play m-r-sm"></i>开始</a></li>
                                <li ng-class="{disabled: !vm.selItem.isStopEnable}" ng-click="vm.OperApp(4)" ng-show="vm.showOther"><a><i class="fa fa-stop m-r-sm"></i>停止</a></li>
                                <li ng-class="{disabled: !vm.selItem.isRestartEnable}" ng-click="vm.OperApp(5)" ng-show="vm.showOther"><a><i class="fa fa-repeat m-r-sm"></i>重启</a></li>
                                <li ng-class="{disabled: !vm.selItem.isDeleteEnable}" ng-click="vm.OperApp(6)" ng-show="vm.showOther"><a><i class="fa fa-trash m-r-sm"></i>删除</a></li>



                            </ul>
                        </div>








                    </td>
                </tr>


                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.NAME' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.name" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>

                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.DESCRIPTION' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <!-- <input style="width: 50%;" ng-model="vm.modifiedProductInfo.description" type="text" class="form-control pull-left font-thin" required> -->
                        <textarea style="width: 50%;resize:none" ng-model="vm.info.description" class="form-control font-thin pull-left" rows="3" cols="" required disabled></textarea>
                    </td>
                </tr>



                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.LANGUAGE' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.lang" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>



                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.CREATEDDATE' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.createdTime" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>

                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.CODE_ADDR' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.git" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>


                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.STATUS' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.state" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>



                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.APP_SERVICES' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
<!--
                        <input style="width: 50%;" ng-model="vm.info.services" type="text" class="form-control pull-left font-thin" required disabled>
-->
                        <select class="form-control"  style="width: 50%;" multiple ng-model="vm.servicesArrd" ng-options="opt.api_id as opt.service_name for opt in vm.allOpenService" required disabled></select>

                    </td>
                </tr>


                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.APP_IMAGES' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
<!--
                        <input style="width: 50%;" ng-model="vm.imgArrStr" type="text" class="form-control pull-left font-thin" required disabled>
-->
                        <select class="form-control"  style="width: 50%;" multiple ng-model="vm.servicesArrd" ng-options="o for o in vm.imgArr" required disabled></select>

                    </td>
                </tr>


                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.CUR_IMAGE' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.detailRunInfo.replication_controller.spec.template.spec.containers[0].image" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>

                <tr style="border-bottom:1px dashed #ddd">
                    <td class="text-right col-md-1" style="vertical-align: middle;border:none;">{{'product.ACCESS_URL' | translate}}</td>
                    <td class="col-md-10" style="border:none;">
                        <input style="width: 50%;" ng-model="vm.info.detailRunInfo.accessUrl" type="text" class="form-control pull-left font-thin" required disabled>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>



    <!--        <div>
                    <label class="font-bold m-l-lg col-sm-2 control-label">SDK</label>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="vm.platform" ng-options="opt.value as opt.name for opt in vm.downLoadOptions">
                         </select>
                     </div>
                        <button class="btn btn-sm btn-success btn-addon form-inline" ng-click="vm.downloadSDK(vm.platform)"><i class="fa fa-download"></i>{{'product.DOWNLOADSDK' | translate}}</button>
                </div>



    <div class="btn-group">
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
-->

</div>


