<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " >
    <!-- main -->
    <div class="col">

        <div class="m-l m-r m-t" style="overflow:hidden;">
            <!-- stats -->
            <div class="col-md-12" >
                <div style="overflow: hidden;">
                    <div class="col-md-6 col-sm-12 text-center" ng-style="vm.myPaddingStyle">
                        <div class="panel panel-default" style="height: 330px;" >
                            <div class="panel-body text-left">
                                <span class="h5 font-bold">CPU状态</span>
                            </div>
                            <div class="panel-body" >
                                <div style="height: 300px;"  e-chart e-data="vm.cpuOption"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 text-center"  ng-style="vm.myPaddingStyle">
                        <div class="panel panel-default" style="height: 330px;">
                            <div class="panel-body text-left">
                                <span class="h5 font-bold">内存占用</span>
                            </div>
                            <div class="panel-body">
                                <div style="height: 300px;"  e-chart e-data="vm.memOption"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding:0;">
                <div class="col-md-6 col-sm-12 text-center"  ng-style="vm.myPaddingStyle">
                    <div class="panel panel-default" style="height: 330px;">
                        <div class="panel-body text-left">
                            <span class="h5 font-bold">网络流量</span>
                        </div>
                        <div class="panel-body">
                            <div style="height: 300px;"  e-chart e-data="vm.networkOption"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center"  ng-style="vm.myPaddingStyle">
                    <div class="panel panel-default" style="height: 330px;">
                        <div class="panel-body text-left">
                            <span class="h5 font-bold">磁盘IO</span>
                        </div>
                        <div class="panel-body">
                            <div style="height: 300px;"  e-chart e-data="vm.diskOption"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
