<div ng-controller="UserCheckAddCtrl as vm">
    <!-- <div class="bg-light lter b-b wrapper-md">
        <div class="row" ng-hide="isRoleAdmin">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">{{vm.btnTitle | translate}}{{'application.USERCHECK' | translate}}</h1>
                <small class="text-muted">Send Notifications topic</small>
            </div>
        </div>
    </div> -->
    
    <div class="font-bold wrapper-md hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col" style="background-color: #fff;">
            <div class="panel panel-default">
                <div class="">
                    <br/>
                    <form name="form" class="bs-example form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-sm-1 m-l-lg control-label font-bold">{{'product.TYPE' | translate}}</label>
                            <div class="col-sm-4">
                                <select ng-if="vm.isAdd" class="form-control font-thin" ng-model="vm.selName" ng-change="vm.change()" ng-options="s.val as s.show for s in vm.options"></select>
                                <span ng-if="!vm.isAdd" type="text" class="form-control font-thin" disabled>{{vm.verifyType=='rest'?'application.REST':'application.TRUSTFUL' | translate}}</span>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg"></div>
                        <div class="form-group">
                            <label class="col-sm-1 m-l-lg control-label font-bold">{{'product.NAME' | translate}}</label>
                            <div class="col-sm-4 font-thin">
                                <input type="text" class="form-control" ng-model="vm.sendData.displayName" placeholder="{{'application.INPUTCHECKNAME' | translate}}" required />
                            </div>
                            <span class="no-border">
                                <i style="font-size:20px;color:red;">*</i>&nbsp;&nbsp;
                            </span>
                        </div>
                        <div class="line line-dashed b-b line-lg"></div>
                        <div class="form-group">
                            <label class="col-sm-1 m-l-lg control-label font-thin font-bold">{{'product.DESCRIPTION' | translate}}</label>
                            <div class="col-sm-4 font-thin">
                                <textarea class="form-control" ng-model="vm.sendData.description" rows="4" placeholder="{{'application.INPUTCHECKDESCRIPTION' | translate}}" style="resize: none;"></textarea>
                            </div>
                        </div>
                       <!-- 循环展示不同列表 -->
                        <span ng-if="vm.fields.length!=0" ng-repeat="item in vm.fields track by $index">
                            <div class="line line-dashed b-b line-lg"></div>
                            <div class="form-group">
                                <label class="col-sm-1 m-l-lg control-label font-bold">{{item.name | fieldNameTranslate}}</label>
                                <div class="col-sm-4">

                                    <!-- string and bytes -->
                                    <input ng-if="(item.type.type=='string')||(item.type.type=='bytes')" type="text" class="col-sm-8 form-control font-thin" ng-model="vm.configArr[$index]" placeholder="{{'product.PLEASEINPUT' | translate}}{{item.type.type | firstUpper}}{{'product.DATATYPE' | translate}}" required />

                                    <!-- int and long -->
                                    <span ng-if="(item.type=='int')||(item.type=='long')">
                                        <input type="number" name="number" ng-keyup="vm.watchValue(item.type,vm.configArr[$index],$index)" class="col-sm-8 form-control font-thin" ng-model="vm.configArr[$index]" placeholder="{{'product.PLEASEINPUT' | translate}}{{item.type | firstUpper}}{{'product.DATATYPE' | translate}}" required />
                                        <input ng-if="!vm.isNumberValid[$index]" type="text" class="no-border col-sm-8 font-thin" style="color:red;" value="{{'product.INVALIDRANGE' | translate}}"/>
                                    </span>
                                    

                                    <!-- float and double -->
                                    <input ng-if="(item.type=='float')||(item.type=='double')" type="text" class="col-sm-8 form-control font-thin" ng-model="vm.configArr[$index]" ng-pattern="/^[0-9]{1,}[.]{1}[0-9]{1,}$/" placeholder="{{'product.PLEASEINPUT' | translate}}{{item.type | firstUpper}}{{'product.DATATYPE' | translate}}" required />

                                    <!-- boolean -->
                                    <div ng-if="item.type.type=='boolean'" class="checkbox col-sm-2">
                                        <label class="i-checks">
                                            <input type="checkbox" ng-checked="vm.configArr[$index]" /><i></i>
                                        </label>
                                    </div>
                                    <!-- enum -->
                                    <select ng-if="item.type.type=='enum'" class="col-sm-8 form-control font-thin" ng-model="vm.configArr[$index]" ng-options="opt for opt in item.type.type.symbols"></select>
                                </div>
                                <span ng-if="!((item.type=='boolean')||(item.type.name))" class="no-border">
                                    <i style="color:red;font-size: 20px; padding-right:4px;">*</i>
                                </span>
                                <label value="item.name" style="color:#999;" class="no-border font-thin" show-tip>
                                </label>
                            </div>
                            
                        </span>
                        
                        <div class="line line-dashed b-b line-lg"></div>
                        <div class="form-group">
                            <label class="col-sm-1 m-l-lg control-label font-bold"></label>
                            <div class="col-sm-5">
                                <button ng-click="vm.cancelAdd()" class="btn m-b-xs btn-sm btn-default btn-addon bg-light bg-light"><i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}}</button>
                                <button type="submit" ng-click="vm.saveCheckInfo()" ng-disabled="form.$invalid" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-save"></i>{{'product.SAVE' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
