<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ApplicationDetailController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">
        <br/>


        <uib-tabset class="m-l m-r control" active="vm.tabSelectedIndex">
            <uib-tab ng-repeat="tab in vm.tabs" heading="{{tab.title}}" ng-click="vm.tapAction(tab.fun)"></uib-tab>
            <button ng-click="vm.backAction()" class="btn m-b-xs btn-sm btn-info btn-addon pull-right"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>
        </uib-tabset>




       <!-- <ul class="nav nav-tabs col-md-12" role="tablist" style="padding-right:0;">
            <li sdk role="presentation" class="active"><a ng-click="vm.tapAction(vm.tabs[0].fun)" aria-controls="SDK" role="tab" data-toggle="tab">{{'u.APP_INFO' | translate}}</a></li>
            <li sdk role="presentation" ><a ng-click="vm.tapAction(vm.tabs[1].fun)" aria-controls="SDK" role="tab" data-toggle="tab">{{'u.APP_RUN_INFO' | translate}}</a></li>
            <li sdk role="presentation" ><a ng-click="vm.tapAction(vm.tabs[2].fun)" aria-controls="SDK" role="tab" data-toggle="tab">{{'u.APP_MONITOR_INFO' | translate}}</a></li>
            <li sdk role="presentation" ><a ng-click="vm.tapAction(vm.tabs[3].fun)" aria-controls="SDK" role="tab" data-toggle="tab">{{'u.APP_LOG_INFO' | translate}}</a></li>

            <button ng-click="vm.backToProductList()" class="btn m-b-xs btn-sm btn-info btn-addon pull-right"><i class="glyphicon glyphicon-arrow-left"></i>{{'product.BACK' | translate}}</button>
        </ul>
-->









        <div class="tab-content panel m-l m-r">
            <div ui-view></div>

            <br/>
        </div>

        <!-- / tasks -->

        <!-- tasks -->
        <!-- / tasks -->
    </div>

</div>
<!--<script>-->
    <!--$('li[role] a').click(function (e) {-->
        <!--e.preventDefault()-->
        <!--$(this).tab('show')-->
    <!--})-->
<!--</script>-->



