

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ApplicationImageController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
	<div class="col">

		<br/>
		<div class="panel panel-default m-l m-r">

			<form name="form" class="form-horizontal form-validation" role="form">
				<br/>
				<div class="form-group">
					<label class="col-sm-1 m-l-lg font-bold control-label">{{'product.NAME' | translate}}</label>
					<div class="col-sm-4">
						<input class="form-control" type="text"
							   placeholder="{{'product.NAME' | translate}}"    ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/"  ng-model="vm.info.name"  required disabled>
					</div>
					<p><i style="color:red; font-size: 20px; padding-right: 4px;">*</i><i style="color:#cfdadd; font-size: 12px; font-style: normal;">开头结尾字母为小写，其他部分是小写字母，数字和短横线组成，字符长度3-20位</i></p>
				</div>
				<div class="line line-dashed b-b line-lg"></div>






				<div class="form-group">
					<label class="col-sm-1 m-l-lg font-bold control-label">{{'product.IMAGENAME' | translate}}</label>
					<div class="col-sm-4">
						<input class="form-control" type="text"
							   placeholder="{{'product.IMAGENAME' | translate}}" ng-model="vm.info.imageName" >
					</div>
				</div>
				<div class="line line-dashed b-b line-lg"></div>


				<div class="form-group">
					<label class="col-sm-1 m-l-lg font-bold control-label">{{'product.IMAGETAG' | translate}}</label>
					<div class="col-sm-4">
						<input class="form-control" type="text"
							   placeholder="{{'product.IMAGETAG' | translate}}"  ng-model="vm.info.imageTag" >
					</div>
				</div>
				<div class="line line-dashed b-b line-lg"></div>







				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-3">
						<button class="btn btn-sm btn-default btn-addon form-inline bg-light m-l-lg" ng-click="vm.back()"><i class="fa fa-ban text-danger"></i>{{'product.CANCEL' | translate}}</button>
						<button class="btn btn-sm btn-info form-inline btn-addon" ng-if="vm.isAdd" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-plus"></i>{{'product.ADD' | translate}}</button>
						<button class="btn btn-sm btn-info form-inline btn-addon" ng-if="!vm.isAdd" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-edit"></i>{{'event.SUBMIT' | translate}}</button>
					</div>
				</div>
				<br/>

			</form>
		</div>
	</div>
</div>
