

<div role="tabpanel" class="tab-pane panel container col-md-12">

<!--     <div class="row wrapper">
        <div class="col-sm-3 pull-left">
            <button ng-click="vm.addCheck()" class="btn btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>{{'product.ADD' | translate}}</button>
        </div>
    </div> -->
    <br>
    <div class="col-md-12" style="padding-left:0; padding-right:0;">
        <table class="table table-bordered table-striped table-hover bg-white text-center">
            <thead class="table-striped table-bordered">
            <tr>
                <th colspan="5">
                    <button ng-click="vm.addCheck()" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>{{'product.ADD' | translate}}</button>
                </th>
            </tr>
            <tr class="font-bold bg-light">
                <!-- <th class="text-center">{{'product.TYPE' | translate}}</th> -->
                <th class="text-center">{{'product.NAME' | translate}}</th>
                <th class="text-center">{{'product.TYPE' | translate}}</th>
                <th class="text-center">{{'product.CREATEDDATE' | translate}}</th>
                <th class="text-center">{{'product.DESCRIPTION' | translate}}</th>
                <th class="text-center">{{'product.OPERATE' | translate}}</th>
            </tr>

            </thead>
            <tbody class="font-thin">

            <tr ng-repeat="item in vm.verifyDatas">
               <!--  <td style="vertical-align: middle;">{{item.type}}</td> -->
                <td style="vertical-align: middle;" ng-bind="item.displayName">
                <td style="vertical-align: middle;">{{item.type | checkWay}}</td>
                <td style="vertical-align: middle;">{{item.createdDate | date:"yyyy-MM-dd"}}</td>
                <td style="vertical-align: middle;">{{item.description}}</td>
                <td style="vertical-align: middle;">
                    <button ng-disabled="item.scope=='system'" class="btn btn-sm btn-danger btn-addon" style="width: 80px"  ng-click="vm.openVerifyDeleteAlert('',$index)"><i class="fa fa-trash-o"></i>{{'product.DELETE' | translate}}</button>   
                    <button ng-disabled="item.scope=='system'" class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.editVerify($index)"><i class="fa fa-edit"></i>{{'product.EDIT' | translate}}</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <br/>

</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'app/components/core/modal.html'"></div>
</script>